{% extends "AdminBundle::layout.html.twig" %}

{% block title %}
    Admin - {{ parent() }}
{% endblock %}

{% block odop_body %}


    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <i class="fa fa-list" aria-hidden="true"></i></span> &nbsp;Annonces
                </div>
                <div class="panel-body">{{ classifieds|length }} annonces en lignes</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="fa fa-credit-card" aria-hidden="true"></i> &nbsp;Réservations
                </div>
                <div class="panel-body">{{ reservations|length }} réservations effectuées</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <i class="fa fa-user" aria-hidden="true"></i> &nbsp;Utilisateurs
                </div>
                <div class="panel-body">{{ users|length }} utilisateurs enregistrés</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <i class="fa fa-comment" aria-hidden="true"></i></span> &nbsp;Commentaires
                </div>
                <div class="panel-body">{{ comments|length }} commentaires rédigés</div>
            </div>
        </div>
    </div>

{% endblock %}