{% extends "AppBundle::layout.html.twig" %}

{% block body %}
    <section id="not-found" class="section-pattern top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-offset-6 col-md-6 errorBlock">
                  <h1><strong>Oups !</strong> Erreur 403</h1>
                  <p>La page que vous recherchez n’est pas accessible pour le moment.</p>
                  <p><a href="{{ path('app_index') }}" class="btn btn-success">Retour à la page d'accueil</a></p>
                </div>
            </div><!-- /.container -->
        </div>
    </section>
{% endblock %}
