{% extends "AdminBundle::layout.html.twig" %}

{% block title %}
    Equipements - {{ parent() }}
{% endblock %}

{% block odop_body %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title"><i class="fa fa-filter" aria-hidden="true"></i>Equipements</h4>
                    <a href="{{ path('admin_equipment_new') }}" class="btn btn-sm btn-success pull-left"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    <div class="recherche">
                        <form class="navbar-form">
                            <input type="text" class="form-control" placeholder="Rechercher...">
                        </form>
                    </div>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th class="text-center"><a href>#</a></th>
                            <th class="text-center"><a href>Nom</a></th>
                            <th class="text-center">Picto</th>
                            <th class="text-center">Catégorie</th>
                            <th class="text-center">Dernière modif</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for equipment in equipments %}
                        <tr>
                            <td class="text-center"><a href="{{ path('admin_equipment_show', { 'id': equipment.id }) }}">{{ equipment.id }}</a></td>
                            <td class="text-center">{{ equipment.name }}</td>
                            <td class="text-center"><span class="{{ equipment.pictoUrl }} ico" aria-hidden="true"></span></td>
                            <td class="text-center">{{ equipment.category.name }}</td>
                            <td class="text-center">{% if equipment.dateModified %}{{ equipment.dateModified|date('d-m-Y') }}{% endif %}</td>
                            <td class="text-center">
                                <a href="{{ path('admin_equipment_show', { 'id': equipment.id }) }}" role="button" class="btn btn-primary btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                <a href="{{ path('admin_equipment_edit', { 'id': equipment.id }) }}" role="button" class="btn btn-warning btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td class="text-center" colspan="7">
                                Aucun résultat
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <nav aria-label="Page navigation" class="text-center">
                        {{ knp_pagination_render(equipments) }}
                    </nav>
                </div>
            </div>
        </div>


{% endblock %}
