{% extends "AdminBundle::layout.html.twig" %}

{% block title %}
    Equipements - {{ parent() }}
{% endblock %}

{% block odop_body %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title"><i class="fa fa-filter" aria-hidden="true"></i>Afficher une équipement</h4>
                    <a href="{{ path('admin_equipment_index') }}" class="btn btn-sm btn-default pull-left"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
                    {% if equipment.dateModified %}<p class="pull-right"><i class="fa fa-info-circle" aria-hidden="true"></i> Dernière modification : {{ equipment.dateModified|localizeddate('full', 'none', locale) }}</p>{% endif %}
                </div>
                <div class="content">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                    {{ form_errors(form) }}

                    <div class="form-group">
                        {{ form_label(form.name, "Nom", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {{ form_errors(form.name) }}

                        <div class="col-sm-4">
                            {{ form_widget(form.name, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
                        </div>

                        {{ form_label(form.pictoUrl, "Picto", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}

                        {{ form_errors(form.pictoUrl) }}

                        <div class="col-sm-4">
                            {# Génération de l'input. #}
                            {{ form_widget(form.pictoUrl, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.category, "Catégorie", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {{ form_errors(form.category) }}

                        <div class="col-sm-4">
                            {# Génération de l'input. #}
                            {{ form_widget(form.category, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-4">
                            <a href="{{ path('admin_equipment_edit', { 'id': equipment.id }) }}" class="btn btn-sm btn-warning pull-left"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editer</a>
                        </div>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}