#comments {

  h3 {
    margin: 0 0 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $brand-primary;
  }

  .comment {

    &-input {
      margin-top: 40px;

      h4 {
        color: $brand-primary;
      }

      input {
        margin-top: 15px;
      }
    }

    .owner {
      margin-bottom: 5px;
      a {
        * {
          display: inline-block;
        }

        .profile-picture {
          width: 50px;
          height: 50px;
          vertical-align: bottom;
        }

        img {
          width: 50px;
          vertical-align: top;
        }

        h4 {
          padding: 20px 15px 10px;
          margin: 0;
        }
      }
      .favorite {
        margin-top: 18px;
      }
    }
  }
}
