<div id="comments" class="thumbnail">
    <h3>Commentaires</h3>
    {% for comment in comments %}
      <div class="comment">
          <div class="owner">
              <a href="{{ path('user_show', { 'id': comment.user }) }}">
                    <div class="profile-picture img-circle">
                      <img class="img-responsive img-circle"
                      src="{{ comment.user.profilePicture.path ? asset(comment.user.profilePicture.path ) : comment.user.avatar ? comment.user.avatar : asset('uploads/demo/profile_picture/user.png') }}"/>
                    </div>
                  <h4>{{ comment.user.firstname }}</h4>
              </a>
              <div class="favorite pull-right">
                  <div class="mark">
                      {{ comment.rate|rating(5, "fa-3x") }}
                  </div>
              </div>
          </div>
          <div class="message">
              <p>{{ comment.content }}</p>
          </div>
      </div>
    {% else %}
      <p>Pas encore de commentaires</p>
    {% endfor %}
    <div class="comment-input">
      <h4>Déposer un commentaire</h4>

      {% if is_granted('ROLE_USER') %}
      <div id="comment-alert">
        <div class="alert alert-success hidden" role="alert">
          <span class="alert-message"></span>
        </div>
        <div class="alert alert-danger hidden" role="alert">
          <span class="fa fa-exclamation-sign" aria-hidden="true"></span>
          <span class="alert-message"></span>
        </div>
      </div>
      <form id="add_comment" action="{{ path('add_comment') }}" method="post" class="form-horizontal">
      	<div class="form-group">
      		<label class="sr-only required" for="comment[rate]">Note</label>
      		<div class="col-sm-12">
      			{{ form_widget(form.rate) }}
      			{{ form_errors(form) }}
      		</div>
      	</div>
      	<div class="form-group">
      		<label class="sr-only required" for="comment[message]">Message*</label>
      		<div class="col-sm-12">
      			{{ form_widget(form.content, {'attr': {'class': 'form-control input-lg', 'placeholder': 'Minimum 20 caracrères', 'required' : 'required', 'minlength' : '20', 'maxlength' : '255'} }) }}
      			{{ form_errors(form) }}
      		</div>
      	</div>
      	<div class="form-group">
      		<div class="col-sm-12">
      			<button type="submit" class="btn btn-success btn-lg submit">Envoyer</button>
      			{{ form_rest(form) }}
      		</div>
      	</div>
      </form>
    {% else %}
    <p><a href="#" data-toggle="modal" data-target="#loginModal">Connectez-vous</a> pour déposer un commentaire</p>
    {% endif %}
  </div>
</div>
