<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Odop{% endblock %}</title>
    <meta name="description" content="One day One place" >
    <meta name="author" content="Odop">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.png') }}" />

    <script rel="javascripts" type="text/javascript" src="{{ asset('assets/index.js') }}"></script>
    <script rel="javascript" type="text/javascript" src="https://www.paypalobjects.com/api/checkout.js"></script>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/index.css') }}" />
    {% endblock %}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-92268737-1', 'auto');
      ga('send', 'pageview');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NCRKZ9F');
    </script>
    <!-- End Google Tag Manager -->

</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NCRKZ9F" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
{{ include('AppBundle::modules/header/header.html.twig') }}

<main class="site-content">
{% block body %}
    {% block fos_user_content %}
    {% endblock fos_user_content %}
{% endblock %}
</main>


{{ include('AppBundle::modules/footer/footer.html.twig') }}


<div class="modals">
{% block odop_modal %}
    {{ include('AppBundle::modules/login/loginModal.html.twig') }}
    {{ include('AppBundle::modules/resetting/resettingModal.html.twig') }}
    {{ include('AppBundle::modules/signin/signinModal.html.twig') }}
{% endblock %}
</div>

{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
{% endblock %}

</body>
</html>
