{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}

    <!-- Page Top Section -->
    <section id="page-top" class="section-pattern">
        <div class="container-fluid pattern">
            <div class="row section-heading">
                <div class="col-xs-12 col-md-offset-2 col-md-8">
                    <div class="caption">
                        <img src="{{ asset('img/caption-slider.png') }}" class="" alt="One day One place">
                        <h3>Louez des lieux atypiques pour vos évènement les plus originaux</h3>
                    </div><!-- /.site-title -->
                    <div class="search-home text-center">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="ou"><i class="fa fa-map-marker" aria-hidden="true"></i> Ou ?</label>
                                <input type="text" class="form-control" id="ou">
                            </div>
                            <div class="form-group">
                                <label for="quand"><i class="fa fa-calendar" aria-hidden="true"></i> Quand ?</label>
                                <input type="text" class="form-control" id="quand" placeholder="Quand ?">
                            </div>
                            <div class="form-group">
                                <label for="duree"><i class="fa fa-clock-o" aria-hidden="true"></i> Durée ?</label>
                                <input type="text" class="form-control" id="duree">
                            </div>
                            <div class="form-group">
                                <label for="participants"><i class="fa fa-user" aria-hidden="true"></i> Participants ?</label>
                                <input type="number" class="form-control" id="participants">
                            </div>
                            <button type="submit" class="btn">Rechercher</button>
                        </form></div>
                </div>
            </div><!-- /.container -->
        </div>
    </section><!-- /#page-top -->
    <!-- Page Top Section  End -->

    <!-- Hightlight Section -->
    <section id="highlight" class="section-pattern">
        <div class="container-fluid pattern">
            <div class="row section-heading">
                <div class="col-xs-12 col-md-offset-2 col-md-8">
                    <div class="row">
                        <div class="caption">
                            <h3>Un jardin pour cet été</h3>
                        </div><!-- /.site-title -->
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <a href="#">
                                <div class="thumbnail">
                                    <img src="{{ asset('img/demo/highlight-1.jpg') }}" alt="...">
                                    <div class="caption">
                                        <h3>Thumbnail label</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a href="#">
                                <div class="thumbnail">
                                    <img src="{{ asset('img/demo/highlight-2.jpg') }}" alt="...">
                                    <div class="caption">
                                        <h3>Thumbnail label</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a href="#">
                                <div class="thumbnail">
                                    <img src="{{ asset('img/demo/highlight-3.jpg') }}" alt="...">
                                    <div class="caption">
                                        <h3>Thumbnail label</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a href="#">
                                <div class="thumbnail">
                                    <img src="{{ asset('img/demo/highlight-4.jpg') }}" alt="...">
                                    <div class="caption">
                                        <h3>Thumbnail label</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center">
                            <button class="btn btn-default">Découvrir les autres jardins</button>
                        </div>
                    </div>
                </div>
            </div><!-- /.container -->
        </div>
    </section><!-- /#page-top -->
    <!-- Hightlight Section  End -->

{% endblock %}