{% extends "AdminBundle::layout.html.twig" %}

{% block title %}
    Réservations - {{ parent() }}
{% endblock %}

{% block odop_body %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title"><i class="fa fa-credit-card" aria-hidden="true"></i>Réservation</h4>
                    <a href="{{ path('admin_reservation_new') }}" class="btn btn-sm btn-success pull-left"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    <div class="recherche">
                        <form class="navbar-form">
                            <input type="text" class="form-control" placeholder="Rechercher...">
                        </form>
                    </div>
                </div>
                <div class="content table-responsive table-full-width">
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="{% if app.request.get('filter') == '' %}active{% endif %}"><a href="{{ path('admin_reservation_index_by') }}">Toutes</a></li>
                        <li role="presentation" class="{% if app.request.get('filter') == 'pending' %}active{% endif %}"><a href="{{ path('admin_reservation_index_by', {'filter': 'pending'}) }}">En attente</a></li>
                        <li role="presentation" class="{% if app.request.get('filter') == 'valide' %}active{% endif %}"><a href="{{ path('admin_reservation_index_by', {'filter': 'valide'}) }}">Approuvée</a></li>
                        <li role="presentation" class="{% if app.request.get('filter') == 'completed' %}active{% endif %}"><a href="{{ path('admin_reservation_index_by', {'filter': 'completed'}) }}">Terminée</a></li>
                    </ul>
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th class="text-center"><a href>#</a></th>
                            <th class="text-center">Client</th>
                            <th class="text-center">Annonce</th>
                            <th class="text-center">Date début</th>
                            <th class="text-center">Date fin</th>
                            <th class="text-center">Statut</th>
                            <th class="text-center">Date création</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for reservation in reservations %}
                        <tr>
                            <td class="text-center"><a href="{{ path('admin_reservation_show', { 'id': reservation.id }) }}">{{ reservation.id }}</a></td>
                            <td class="text-center"><a href="{{ path('admin_user_show', { 'id': reservation.user.id }) }}">{{ reservation.user.id }}</a></td>
                            <td class="text-center"><a href="{{ path('admin_classified_show', { 'id': reservation.classified }) }}">{{ reservation.classified }}</a></td>
                            <td class="text-center">{% if reservation.dateStart %}{{ reservation.dateStart|date('d-m-Y') }}{% endif %}</td>
                            <td class="text-center">{% if reservation.dateEnd %}{{ reservation.dateEnd|date('d-m-Y') }}{% endif %}</td>
                            <td class="text-center">
                                {% if reservation.status == 'completed' %}
                                    <a href="#" role="button" class="btn btn-success btn-sm">Terminé</a>
                                {% elseif reservation.status == 'valide' %}
                                    <a href="#" role="button" class="btn btn-primary btn-sm">Approuvé</a>
                                {% else %}
                                    <a href="#" role="button" class="btn btn-warning btn-sm">En attente</a>
                                {% endif %}
                            </td>
                            <td class="text-center">{% if reservation.dateCreated %}{{ reservation.dateCreated|date('d-m-Y') }}{% endif %}</td>
                            <td class="text-center">
                                <a href="{{ path('admin_reservation_show', { 'id': reservation.id }) }}" role="button" class="btn btn-primary btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                <a href="{{ path('admin_reservation_edit', { 'id': reservation.id }) }}" role="button" class="btn btn-warning btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td class="text-center" colspan="7">
                                Aucun résultat
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <nav aria-label="Page navigation" class="text-center">
                        {{ knp_pagination_render(reservations) }}
                    </nav>
                </div>
            </div>
        </div>


{% endblock %}
