{% extends "AdminBundle::layout.html.twig" %}

{% block title %}
    Réservations - {{ parent() }}
{% endblock %}

{% block odop_body %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title"><i class="fa fa-credit-card" aria-hidden="true"></i>Ajouter une réservation</h4>
                    <a href="{{ path('admin_reservation_index_by') }}" class="btn btn-sm btn-default pull-left"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
                </div>
                <div class="content">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                    {{ form_errors(form) }}

                    <div class="form-group">
                        {{ form_label(form.user, "Client", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {{ form_errors(form.user) }}

                        <div class="col-sm-4">
                            {{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.classified, "Annonce", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {{ form_errors(form.classified) }}

                        <div class="col-sm-4">
                            {# Génération de l'input. #}
                            {{ form_widget(form.classified, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.dateStart, "Date début", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {{ form_errors(form.dateStart) }}

                        <div class="col-sm-4">
                            <script>
                                $(document).ready(function(){
                                    $('.date_start').datepicker({
                                        language: 'fr',
                                        format: 'dd-mm-yyyy',
                                        autoclose: true
                                    });
                                });
                            </script>
                            <div class="input-group date">
                                {{ form_widget(form.dateStart, {'attr': {'class': 'date_start form-control'}}) }}
                                <div class="input-group-addon">
                                    <i class="fa fa-th" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                        {{ form_label(form.dateEnd, "Date fin", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {{ form_errors(form.dateEnd) }}

                        <div class="col-sm-4">
                            <script>
                                $(document).ready(function(){
                                    $('.date_end').datepicker({
                                        language: 'fr',
                                        format: 'dd-mm-yyyy',
                                        autoclose: true
                                    });
                                });
                            </script>
                            <div class="input-group date">
                                {{ form_widget(form.dateEnd, {'attr': {'class': 'date_end form-control'}}) }}
                                <div class="input-group-addon">
                                    <i class="fa fa-th" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.status, "Statut", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {{ form_errors(form.status) }}

                        <div class="col-sm-4">
                            {# Génération de l'input. #}
                            {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-4">
                            <input type="submit" value="Ajouter" class="btn btn-success btn-sm"/>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}