{% extends "AdminBundle::layout.html.twig" %}

{% block title %}
    Réservations - {{ parent() }}
{% endblock %}

{% block odop_body %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title"><i class="fa fa-credit-card" aria-hidden="true"></i>Afficher une réservation</h4>
                    <a href="{{ path('admin_reservation_index_by') }}" class="btn btn-sm btn-default pull-left"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
                    {% if reservation.dateModified %}<p class="pull-right"><i class="fa fa-info-circle" aria-hidden="true"></i> Dernière modification : {{ reservation.dateModified|localizeddate('full', 'none', locale) }}</p>{% endif %}
                </div>
                <div class="content">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                    {{ form_errors(form) }}

                    <div class="form-group">
                        {{ form_label(form.user, "Client", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {{ form_errors(form.user) }}

                        <div class="col-sm-4">
                            {{ form_widget(form.user, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.classified, "Annonce", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {{ form_errors(form.classified) }}

                        <div class="col-sm-4">
                            {# Génération de l'input. #}
                            {{ form_widget(form.classified, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.dateStart, "Date début", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {{ form_errors(form.dateStart) }}

                        <div class="col-sm-4">
                            {# Génération de l'input. #}
                            {{ form_widget(form.dateStart, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
                        </div>

                        {{ form_label(form.dateEnd, "Date fin", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {{ form_errors(form.dateEnd) }}

                        <div class="col-sm-4">
                            {# Génération de l'input. #}
                            {{ form_widget(form.dateEnd, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.status, "Statut", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {{ form_errors(form.status) }}

                        <div class="col-sm-4">
                            {# Génération de l'input. #}
                            {{ form_widget(form.status, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-4">
                            <a href="{{ path('admin_reservation_edit', { 'id': reservation.id }) }}" class="btn btn-sm btn-warning pull-left"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editer</a>
                        </div>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}