<!-- Signin modal -->
<div id="resettingModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="resettingModal">
    <div class="modal-dialog modal-sm" role="document" style="width:400px;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="panel-group" id="signin" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Réinitialiser le mot de passe
                        </div>
                        <hr>
                        <div class="panel panel-body" role="tabpanel" aria-labelledby="headingTwo">
                            {{ render(controller("FOSUserBundle:Resetting:request")) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
