{% for flash_message in app.session.flashBag.get('success') %}
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
        {{ flash_message }}
    </div>
{% endfor %}

{% for flash_message in app.session.flashBag.get('danger') %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
        {{ flash_message }}
    </div>
{% endfor %}

{% for flash_message in app.session.flashBag.get('info') %}
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
        {{ flash_message }}
    </div>
{% endfor %}
