<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin Odop{% endblock %}</title>
    <meta name="description" content="One day One place">
    <meta name="author" content="Odop">

    <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.png') }}"/>

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/admin.css') }}" />
    {% endblock %}

    {% block javascripts %}
        {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script rel="javascripts" type="text/javascript" src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
        <script rel="javascripts" type="text/javascript" src="{{ asset('js/bootstrap-datepicker.fr.min.js') }}"></script>
    {% endblock %}

</head>

<body>

<div id="wrapper">
    <!--        <div class="sidebar" style="display: none">-->
    <div class="sidebar">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="">
                    <img src="{{ asset('img/odop-logo-white.png') }}" class="img-responsive" alt="Odop">
                </a>
            </div>
            <ul class="nav">
                <li>
                    <a href="{{ path('admin_dashboard') }}"
                       class="{% if app.request.get('_route') == 'admin_dashboard' %}active{% endif %}">
                        <p><i class="fa fa-home" aria-hidden="true"></i></span>Accueil</p>
                        <span class="sr-only">(courant)</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_classified_index') }}"
                       class="{% if app.request.get('_route') == 'admin_classified_index' %}active{% endif %}">
                        <p><i class="fa fa-list" aria-hidden="true"></i>Annonces</p>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_equipment_index') }}"
                       class="{% if app.request.get('_route') == 'admin_equipment_index' %}active{% endif %}">
                        <p><i class="fa fa-filter" aria-hidden="true"></i>Equipements</p>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_category_index') }}"
                       class="{% if app.request.get('_route') == 'admin_category_index' %}active{% endif %}">
                        <p><i class="fa fa-tags" aria-hidden="true"></i>Catégories</p>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_comment_index_by', { 'filter': 'pending' }) }}"
                       class="{% if app.request.get('_route') == 'admin_comment_index_by' %}active{% endif %}">
                        <p><i class="fa fa-comment" aria-hidden="true"></i></span>Commentaires
                            {{ render(controller('AdminBundle:Comment:count'))}}
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_reservation_index_by') }}"
                       class="{% if app.request.get('_route') == 'admin_reservation_index_by' %}active{% endif %}">
                        <p><i class="fa fa-credit-card" aria-hidden="true"></i>Réservations <span class="badge pull-right">4</span></p>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_user_index') }}"
                       class="{% if app.request.get('_route') == 'admin_user_index' %}active"{% endif %}">
                    <p><i class="fa fa-user" aria-hidden="true"></i>Utilisateurs</p>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_parameter_index') }}"
                       class="{% if app.request.get('_route') == 'admin_parameter_index' %}active{% endif %}">
                        <p><i class="fa fa-cog" aria-hidden="true"></i></span>Paramètres</p>
                        <span class="sr-only">(courant)</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="main main-admin">
    <nav class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    {{ wo_render_breadcrumbs() }}
                </div>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <h5 class="hello">Bonjour {{ app.user.firstname }}</h5>
                    </li>
                    <li>
                        <a role="menuitem" tabindex="-2" href="">Notification</a>
                    </li>
                    <li>
                        <a href="{{ path('app_index') }}" role="menuitem" tabindex="-3">Retourner sur l'application</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="content-admin">
        <div class="container-fluid">

            {% for flash_message in app.session.flashBag.get('success') %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    {{ flash_message }}
                </div>
            {% endfor %}

            {% for flash_message in app.session.flashBag.get('danger') %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    {{ flash_message }}
                </div>
            {% endfor %}

            {% for flash_message in app.session.flashBag.get('info') %}
                <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    {{ flash_message }}
                </div>
            {% endfor %}

            {% block odop_body %}
            {% endblock %}

        </div>
    </div>
</div>
</div>

{% block odop_modal %}
{% endblock %}

</body>
</html>
