 <!-- Small modal -->
<div id="uploadModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">Upload d'image</h4></div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="profile_picture">
                            <div class="dropzone my-dropzone" id="form_snippet_image"
                                 action="{{ path('ajax_snippet_image_send') }}" data-target="{{ app.request.get('id') }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
            </div>
            <div id="actions" class="modal-footer">
                <button class="btn btn-primary start">
                    <i class="fa fa-upload"></i>
                    <span>Envoyer</span>
                </button>
                <button data-dz-remove class="btn btn-warning cancel" data-dismiss="modal">
                    <i class="fa fa-ban-circle"></i>
                    <span>Annuler</span>
                </button>
            </div>
        </div>
    </div>
</div>
