/* Table of contents
---------------------------------------------------------------------- /
*
*  1 - Import Google Font
*  2 - Global Style
*    2.1 - Colors
*    2.2 - Social Button
*    2.3 - Placeholder color
*    2.4 - Height Resize
*  3 - Main Menu
*  4 - Page Top Section
*  5 - About Us Section
*  6 - Subscribe Section
*  7 - Contact Section
*  9 - Media Query
*    9.1 - media screen and (max-width: 992px)
*    9.2 - media screen and (max-width: 768px)
*    9.3 - media screen and (max-width: 1170px)
*  10 - Preloader
*
---------------------------------------------------------------------- */




/* 1 - Import
---------------------------------------------------------------------- */

/*!
 * GESAppManager v1.0 (http://www.reseau-ges.fr/GESAppManager/)
 * Copyright 2015 Twitter, Inc.
 */

/******* BASE *******/
/* Default */

html {
    height: 100%;
}

body {
    font-family: 'Open Sans', Verdana;
    font-size: 12px;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

body, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, .btn-simple, .alert, a, .td-name, td, button.close {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #777;
}

h4, .h4 {
    font-size: 22px;
    line-height: 30px;
}

.modal-title {
    color: #777;
}

body.home {
    overflow: hidden;
}

a {
    color: #EF4035;
    text-decoration: none;
    cursor: pointer;
}

a:hover, a:focus {
    color: #af3129;
}

.no-padding {
    padding: 0!important;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    color: #777;
}

.inputfile + label figure {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #777;
    display: block;
    padding: 20px;
    margin: 0 auto 10px;
}

.inputfile + label:hover figure {
    background-color: #5F5F5F;
}

.inputfile + label svg {
    width: 100%;
    height: 100%;
    fill: #F7F7F8;
    vertical-align: middle;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    color: #5F5F5F;
}

.page-header > .ico {
    font-size: 40px;
}

.titre-contenue {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

/* Table */

.nav-tabs>li.rechercher {
    float: right;
}

.rechercher .navbar-form {
    margin-top: 0;
    margin-bottom: 0;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 10px 8px;
    vertical-align: middle;
}

.table > thead > tr > th {
    border-bottom-width: 1px;
    font-size: 12px;
    text-transform: uppercase;
    color: #9A9A9A;
    font-weight: 400;
    padding-bottom: 5px;
}

.card .table tbody td:first-child, .card .table thead th:first-child {
    padding-left: 15px;
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
}


/*.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {*/
/*background-color: #28282E;*/
/*color: #E6E6E6;*/
/*border: 1px solid #28282E;*/
/*}*/

/*table>thead>tr {*/
/*background-color: #28282E;*/
/*color: #E6E6E6;*/
/*border-radius: 10px 0;*/
/*}*/

/*table>thead a {*/
/*color: #E6E6E6;*/
/*}*/

/*table>tfoot .alert {*/
/*padding: 5px 10px;*/
/*font-size: 12px;*/
/*line-height: 1.5;*/
/*margin: 0;*/
/*}*/

/* THEME */

.bg-light {
    background-color: #e6e6e6;
}

.bg-dark {
    background-color: #28282E;
}

/* HEADER */

.navbar-fixed-top {
    background-image: linear-gradient(to bottom,#e7e7e7 0,#fff 100%);
    border-color: #e7e7e7;
    /*background-color: #fff;*/
}

.navbar-brand {
    padding: 0 0 0 15px;
}

.navbar-brand>img {
    display: inline;
}

.navbar-brand>span {
    padding: 20px 0 15px 0;
}

.navbar-fixed-top .alert {
    margin-bottom : 0;
    margin-left: 70px;
    float: left;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 10px;
}

.navbar-fixed-top .navbar-nav>li>.dropdown-menu {
    padding-top: 5px;
    background-color: #28282E;
}

.navbar-fixed-top .dropdown-menu>li>a {
    color: #9d9d9d;
}

.navbar-fixed-top .dropdown-menu>li>a:hover, .navbar-fixed-top .dropdown-menu>li>a:focus {
    background-color: #e8e8e8;
    background-image: -webkit-linear-gradient(top,#9D9D9D 0,#69696C 100%);
    background-image: -o-linear-gradient(top,#9D9D9D 0,#69696C 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#9D9D9D),to(#69696C));
    background-image: linear-gradient(to bottom,#9D9D9D 0,#69696C 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
    color: #28282E;
}

/******* MODULE *******/
/* Pagination */

a, .pagination>li>a, .pagination>li>span {
    color: #777;
}

a:hover, a:focus, .pagination>li>a:hover, .pagination>li>span:hover,.pagination>li>a:focus, .pagination>li>span:focus {
    color: $brand-primary;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {

    background-color: $brand-primary;
    border-color: $brand-primary;
}

#wrapper {
    float: left;
    overflow: auto;
    max-height: 100%;
    height: 100%;
    -webkit-transition-property: top,bottom;
    transition-property: top,bottom;
    -webkit-transition-duration: .2s,.2s;
    transition-duration: .2s,.2s;
    -webkit-transition-timing-function: linear,linear;
    transition-timing-function: linear,linear;
    -webkit-overflow-scrolling: touch;
}

/* Sidebar */

.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 260px;
    padding: 0;
    display: block;
    z-index: 1;
    color: #fff;
    font-weight: 200;
    background-size: cover;
    background-position: center center;
}

.sidebar:after, .sidebar:before, body > .navbar-collapse:after, body > .navbar-collapse:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.sidebar:before, body > .navbar-collapse:before {
    opacity: .33;
    background: #000000;
}

.sidebar:after, body > .navbar-collapse:after, .navbar-fixed:after {
    background: #787878;
    background: -moz-linear-gradient(top, #787878 0%, #343434 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #787878), color-stop(100%, #343434));
    background: -webkit-linear-gradient(top, #787878 0%, #343434 100%);
    background: -o-linear-gradient(top, #787878 0%, #343434 100%);
    background: -ms-linear-gradient(top, #787878 0%, #343434 100%);
    background: linear-gradient(to bottom, #787878 0%, #343434 100%);
    background-size: 150% 150%;
    z-index: 3;
    opacity: 1;
}

.sidebar:after, body > .navbar-collapse:after,  .navbar-fixed:after {
    opacity: .77;
}


.sidebar, .main {
    overflow: auto;
    max-height: 100%;
    height: 100%;
    -webkit-transition-property: top,bottom;
    transition-property: top,bottom;
    -webkit-transition-duration: .2s,.2s;
    transition-duration: .2s,.2s;
    -webkit-transition-timing-function: linear,linear;
    transition-timing-function: linear,linear;
    -webkit-overflow-scrolling: touch;
}

.sidebar .sidebar-wrapper {
    background-color: $brand-primary;
    position: relative;
    max-height: none;
    min-height: 100%;
    overflow: hidden;
    width: 260px;
    z-index: 4;
}

.sidebar .sidebar-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
}

.sidebar .logo, body > .navbar-collapse .logo {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar .logo .simple-text, body > .navbar-collapse .logo .simple-text {
    padding: 5px 10px 5px 50px;
    display: block;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 30px;
    background-size: auto 100%;
}

.sidebar .logo a:hover,.sidebar .logo a:focus {
    text-decoration: none;
}

.sidebar .nav {
    margin-top: 20px;
}

.sidebar .nav a, .table > tbody > tr .td-actions .btn {
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
}

.sidebar .nav li > a {
    color: #FFFFFF;
    margin: 5px 15px;
    opacity: .86;
    border-radius: 4px;
}

.sidebar .nav li > a.active {
    background-color: rgba(255,255,255,0.4);
}

.sidebar .nav li:hover > a {
    background: rgba(255, 255, 255, 0.13);
    opacity: 1;
}

.sidebar .nav li.active > a {
    color: #FFFFFF;
    opacity: 1;
    background: rgba(255, 255, 255, 0.23);
}
.sidebar .nav p {
    margin: 0;
    line-height: 30px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.sidebar .nav p>i.fa {
    font-size: 25px;
    transform: translateY(2px);
    margin: 0 15px;

}

span.badge {
    font-size: 15px;
    transform: translateY(5px);
}

/*.sidebar {*/
/*position: fixed;*/
/*top: 51px;*/
/*bottom: 0;*/
/*left: 0;*/
/*z-index: 1000;*/
/*display: block;*/
/*padding: 20px;*/
/*overflow-x: hidden;*/
/*overflow-y: auto;*/
/*background-color: #28282E;*/
/*border-right: 1px solid #8d8d8d;*/
/*}*/

/*.nav-sidebar {*/
/*margin-right: -21px;*/
/*margin-bottom: 20px;*/
/*margin-left: -20px;*/
/*}*/


/*.nav-sidebar>li>a:hover, .nav-sidebar>li>a:focus {*/
/*text-decoration: none;*/
/*background-color: #3E3E44;*/
/*color: #EF4031;*/
/*}*/

/*.nav-sidebar>li>a {*/
/*color: #A02821;*/
/*}*/

/*.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {*/
/*color: #fff;*/
/*background-color: #EF4035;*/
/*}*/


.main {
    background: rgba(203, 203, 210, 0.15);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    float: right;
    /*width: calc(100% - 260px);*/
    min-height: 100%;
}

.main-admin{
    margin-left: 260px;
}

.main > .content-admin {
    padding: 30px 15px;
    min-height: calc(100% - 120px);
}

.main > .content {
    min-height: calc(100% - 100px);
    background-color: #FCFCFC;
}

.navbar {
    border: 0;
    font-size: 16px;
    border-radius: 0;
}

.main .navbar {
    margin-bottom: 0;
    margin-left: 260px;
}



.main-admin .navbar {
    margin-left: 0;
}

.navbar .navbar-nav > li > a, .navbar .navbar-nav > li > h5 {
    font-size: 16px;
    text-shadow: 0 1px 0 rgba(255,255,255,.25);
    padding: 10px 15px;
    margin: 10px 3px;
    position: relative;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 0.96);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar .navbar-brand {
    font-weight: 400;
    margin: 5px 0;
    padding: 15px 30px;
    font-size: 20px;
}

.breadcrumb {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
}

.dropdown-menu>li>a {
    padding: 5px 20px;
}

.card {
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    background-color: #FFFFFF;
    margin-bottom: 30px;
}

.card .header {
    padding: 15px 15px 0;
}

.card .header a.btn{
    margin: 5px 15px;
}

.card .title {
    float: left;
    margin: 0;
    font-weight: 300;
}

.card .title i{
    margin-right: 10px;
    font-size: 30px;
    transform: translateY(5px);
}

.card .recherche {
    text-align: right;
}

.card .content {
    clear: both;
    overflow-x: visible;
    padding: 15px 30px 10px 30px;
}

.card .category, .card label {
    font-size: 14px;
    font-weight: 400;
    color: #9A9A9A;
    margin-bottom: 0px;
}

@media (min-width: 992px) {
    .table-full-width {
        margin-left: -15px;
        margin-right: -15px;
    }
}


/* GESTION USERS */

.gestion {
    width: 100%;
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

#user-mail {
    width: 165px;
}

/* FIN GESTION USERS */

/* Login */

.bg-top {
    width: 100%;
    height: 35%;
    background-color: #EF4035;
    z-index: 1;
}

.bg-bottom {
    width: 100%;
    height: 65%;
    background-color: #28282E;
}

.middle-box {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 100px;
}

.loginscreen.middle-box {
    width: 300px;
}

.login-box {
    margin-left: -260px;
    width: 400px;
    display: inline-block;
}

.login-box label{
    color: #787878;
    margin: 10px;
}

.form-login {
    /*width: 350px;*/
    margin: auto;
}

.form-login.push{
    width: 100%;
    margin: auto;
}

.login-title {
    color: #EF4035;
    margin-top: 0px;
}

.choix {
    font-size: 18px;
    background-image:url(../../images/logo-header.png);
    background-position: center 60%;
    background-repeat:no-repeat;
    position: absolute;
    top: 61px;
    bottom: 44px;
    left: 0;
    padding: 0;
    display: block;
    z-index: 1;
    color: #787878;
}

.login {
    position: absolute;
    top: 61px;
    bottom: 44px;
    left: 0;
}

.select {
    height : 20%;
}

.select>div {
    /*margin-top: 20px;*/
    height: 100%;
}

.select .apps, .select .appsearch {
    display:table;
    width: 100%;
    height: 100%;
}

.select .apps>div, .select .appsearch>div {
    display:table-cell;
    vertical-align:middle;
}

.select .apps .form-group, .select .appsearch .form-group {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.form-control:focus {
    border-color: #A0A0A0;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(160,160,160,0.80);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(160,160,160,0.80);
}

.top, .milieu, .bottom {
    width: 100%;
    margin: auto;
}

.rosace {
    line-height: 250px;
}

.gauche, .droite {
    margin-top: 120px;
}

.choix a {
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.12s ease-out;
    -moz-transition: all 0.12s ease-out;
    -ms-transition: all 0.12s ease-out;
    -o-transition: all 0.12s ease-out;
    transition: all 0.12s ease-out;
}

.choix a:hover {
    text-shadow: 2px 2px 2px #777;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

/* FIN GESTION APPS */

/* MODAL */

.modal-footer .alert {
    display: inline-block;
    margin: 0 5px -13px 5px;
    padding: 6px 12px;
}

#appsUpdateFile .modal-body {
    padding: 15px 0 0 0;
}

.progress {
    margin: 0;
    height: 3px;
    background-color: #FFFFFF;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none;
}

/* FIN MODAL */

// .profile_picture {
//     border: 1px dashed $brand-primary;
//     width: 152px;
//     height: 152px;
//     margin:auto;
// }

.profile-picture {
  position: relative;
  width: 150px;
  overflow: hidden;
  border: 5px solid rgba(255, 255, 255, 0.5);

  > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

// .profile_picture .dropzone {
//     min-height: 150px;
//     padding: 0;
//     border-color: transparent;
// }
//
// .profile_picture .dropzone:hover {
//     background-color: $brand-primary;
//     color: #fff;
// }
//
// .profile_picture .dropzone .dz-preview {
//     width: 100%;
//     height: 100%;
//     margin: 0;
// }
//
// .profile_picture .dropzone .dz-preview .dz-image {
//     width: 100%;
//     height: 100%;
//     border-radius: 0;
// }
//
// .profile_picture .dropzone .dz-preview .dz-image img{
//     width:100%;
// }
//
// .profile_picture .dropzone .dz-preview .dz-details{
//     height: 100%;
//     padding: 2.5em 1em;
// }
//
// .profile_picture .dropzone .dz-preview .dz-progress, .profile_picture .dropzone .dz-preview .dz-size, .profile_picture .dropzone .dz-preview .dz-filename{
//     display: none;
// }
//
// .profile_picture .dropzone .dz-message {
//     margin: 4.5em 0;
// }

.dropzone .dz-preview .dz-details .dz-remove {
    display: inline;
}

.dropzone .dz-preview .dz-details .dz-remove span {
    cursor: pointer;
    margin-top: 15px;
    font-size: 50px;
    color: rgba(255,255,255,0.8);
}

/* ANIMATION */

.hideanim {
    visibility: hidden;
}

.anim {
    visibility: visible;
}

object {
    width: 100%;
    min-height: calc(100% - 15px);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sidebar-module {
    width: 250px;
    height: 0px;
}
 
.sidebar-module.affix-top {
    position: relative;
    margin: 60px 0 0;
}

.sidebar-module.affix {
    position: fixed;
    top: 95px;
}

.dropdown-menu {
    padding: 0;
}

/* Bouton */

/*.btn-primary {*/
/*margin: 0 5px;*/
/*background-image: linear-gradient(to bottom,#EF4035 0,#b13129 100%);*/
/*border-color: #b13129;*/
/*}*/

/*.btn-primary:hover, .btn-primary:focus {*/
/*background-color: #b13129;*/
/*border-color: #b13129;*/
/*}*/

.dropdown-menu .btn-danger, .dropdown-menu .btn-warning {
    color: #fff;
}

.btn-push {
    width: 100%;
}

.modal-push {
    padding-bottom: 0;
}

.message-error {
    width: 260px;
    margin: 100px auto 0;
    text-align: center;
    font-size: 18px;
}

.message-error img {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    -ms-transition: all 3s;
    -o-transition: all 3s;
    transition: all 5s;
    z-index: 1;
}

.message-error img:hover {
    -webkit-transform: rotate(3600deg);
    -moz-transform: rotate(3600deg);
    -ms-transform: rotate(3600deg);
    -o-transform: rotate(3600deg);
    transform: rotate(3600deg);
}

.message-error span.glyphicon-lock, .message-error span.glyphicon-fire {
    font-size: 100px;
}

.error-details {
    margin-bottom: 15px;
}

/* 9 - Media Query
---------------------------------------------------------------------- */

/* 9.1 - media screen and (max-width: 992px)
------------------------------------------------ */
/* 9.1 - media screen and (max-width: 992px)  End
------------------------------------------------ */
/* 9.2 - media screen and (max-width: 768px)
------------------------------------------------ */
/* 9.2 - media screen and (max-width: 768px) End
------------------------------------------------ */
/* 9.3 - media screen and (max-width: 1170px)
------------------------------------------------ */
/* 9.3 - media screen and (max-width: 1170px) End
------------------------------------------------ */
