{% block fos_user_content %}
    <form id="signin_form" name="signin" action="{{ path('fos_user_registration_register') }}" method="POST" class="signinAjaxForm form-horizontal fos_user_registration_register">
        <div class="form-group">
            <label class="sr-only required" for="fos_user_registration_form_firstname">{{ 'modals.register.firstName'|trans }}</label>
            <div class="col-sm-12">
                {{ form_widget(form.firstname, {'id':'fos_user_registration_form_firstName','attr': {'class': 'form-control input-lg', 'placeholder': 'modals.register.firstName'|trans, 'maxlength' : '255'} }) }}
            </div>
        </div>
        <div class="form-group">
            <label class="sr-only required" for="fos_user_registration_form_lastname">{{ 'modals.register.lastName'|trans }}</label>
            <div class="col-sm-12">
                {{ form_widget(form.lastname, {'attr': {'id':'fos_user_registration_form_lastname', 'class': 'form-control input-lg', 'placeholder': 'modals.register.lastName'|trans, 'maxlength' : '255'} }) }}
            </div>
        </div>
        <div class="form-group">
            <label class="sr-only required" for="fos_user_registration_form_email">{{ 'modals.register.email'|trans }}</label>
            <div class="col-sm-12">
                {{ form_widget(form.email, {'attr': {'class': 'form-control input-lg', 'placeholder': 'modals.register.email'|trans, 'maxlength' : '255'} }) }}
            </div>
        </div>
        <div class="form-group">
            <label class="sr-only required" for="fos_user_registration_form_plainPassword_first">Mot de passe*</label>
            <div class="col-sm-12">
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control input-lg fos_user_registration_form_plainPassword', 'placeholder': 'modals.register.password'|trans} }) }}
            </div>
        </div>
        <div class="form-group">
            <label class="sr-only required" for="fos_user_registration_form_plainPassword_second">Confirmer mot de passe*</label>
            <div class="col-sm-12">
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control input-lg fos_user_registration_form_plainPassword', 'placeholder': 'modals.register.passConfirm'|trans} }) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <p></p><p style="font-size: 12px">En créant un compte, j'accepte les <a href="#">Conditions générales</a>, la
                    <a href="#">Politique anti-discriminations</a>, les <a href="#">Conditions de service</a> relatives aux paiements, la
                    <a href="#">Politique de confidentialité</a>, la <a href="#">Politique de remboursement</a> des organisateurs et
                    les Conditions de la <a href="#">Garantie Hôte</a> d'ODOP.</p>
            </div>
        </div>
        <div id="login-alert">
            <div class="alert alert-success hidden" role="alert">
                <span class="alert-message"></span>
            </div>
            <div class="alert alert-danger hidden" role="alert">
                <span class="fa fa-exclamation-sign" aria-hidden="true"></span>
                <span class="alert-message"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <button value="S'inscrire" class="btn btn-success btn-lg btn-block login-submit">S'inscrire</button>
                {{ form_rest(form) }}
            </div>
        </div>
    </form>
{% endblock fos_user_content %}
