{% extends "AdminBundle::layout.html.twig" %}

{% block title %}
    Paramètres - {{ parent() }}
{% endblock %}

{% block odop_body %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title"><i class="fa fa-cog" aria-hidden="true"></i></span>Paramètre du site</h4>
                </div>
                <div class="content">

                    {{ form_start(editForm, {'attr': {'class': 'form-horizontal'}}) }}
                    {% set last_cat = "" %}
                    {% for parameter in editForm.parameters %}
                        {% if parameter.vars.value.category.name != last_cat  %}
                        <p class="col-sm-offset-2"><b>{{ parameter.vars.value.category.name }}</b></p>
                        {% endif %}
                    {{ form_errors(parameter) }}
                        <div class="form-group">
                            {{ form_label(parameter.value, parameter.vars.value.name, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            {{ form_errors(parameter.value) }}

                            <div class="col-sm-6">
                                {# Génération de l'input. #}
                                {{ form_widget(parameter.value, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="hidden">
                        {{ form_widget(parameter) }}
                        </div>
                        {% set last_cat = parameter.vars.value.category.name %}
                    {% else %}
                        <p>Pas encore de paramètre</p>
                    {% endfor %}

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-4">
                            <input type="submit" value="Sauvegarder" class="btn btn-sm btn-success pull-left">
                        </div>
                    </div>

                    {{ form_end(editForm) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}