<header class="main-header">
    <nav id="main-header" class="navbar ha-header {% if app.request.get('_route') != 'app_index' %}navbar-fixed-top{% endif %}">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('app_index') }}"><img src="{{ asset('img/logo-header.png') }}" alt="One day One place"></a>
                <!-- <div class="menuButtonStyle"> -->
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainMenu" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                <!-- </div> -->

            </div>
            <div id="mainMenu" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-main navbar-right">
                    <li><a href="./" class="btn become-host coming-soon" disabled><i class="fa fa-home" aria-hidden="true"></i>Devenir hôte</a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="#">Evènements</a></li>
                        <li><a href="#">Notifications</a></li>
                        <li class="dropdown">
                            <a href="#" id="account" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.firstname }} <span class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="account">
                                <li><a href={{ path('account') }}>Mon profil</a></li>
                                {#<li><a href="#">Mes paramètres</a></li>#}
                                <li role="separator" class="divider"></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li><a href="{{ path('admin_dashboard') }}">Administration</a></li>
                                    <li role="separator" class="divider"></li>
                                {% endif %}
                                <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="#" data-toggle="modal" data-target="#signinModal">Inscription</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#loginModal">Connexion</a></li>
                    {% endif %}
                    <li><a href="{{ path('app_help') }}">Aide</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
</header>
