header.main-header {
	position: absolute;
  z-index: 1000;
	width: 100%;
	margin-top: 80px;

	> nav.navbar {
		transition: margin 0.5s ease;
		margin-bottom: 0;
	  margin-top: -81px;

		> .container {
			position: relative;
			overflow: visible;
		}

		&.navbar-fixed-top {
	  	margin-top: 0;
			background-color: white;
	  	border-bottom: 3px solid $brand-primary;

			&.hidden {
	    	display: block!important;
	    	visibility: visible!important;
	    	margin-top: -81px;
	    }




			@media (min-width: $screen-md-min) {
				.navbar-collapse .nav {
					margin: 0;

					li {

						a {
							color: $brand-primary;
						}

						&.dropdown .dropdown-menu a {
							color: #5e5e5e;

							&:hover {
								color: $brand-primary;
							}
						}
					}
				}
			}

		}
	}

  .navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
		width: 100%;
    height: 80px;
    padding: 10px 0;
		margin: auto;

    &:before, &:after {
      display: none;
    }

    .navbar-brand {
      float: none;
      height: 100%;
      padding: 0;
      flex-shrink: 0;
      visibility: visible;
      opacity: 1;
      transition: visibility 0s ease 0s, opacity 0.2s ease 0.2s;
			margin-left: 0;
	    z-index: 5;

      > img {
        height: 100%;
        width: auto;
      }
    }

    .navbar-toggle {
      padding: 0;
      margin: 0;

      .icon-bar {
        width: 40px;
        height: 4px;
        background-color: $brand-primary;
      }

      .icon-bar + .icon-bar {
          margin-top: 7px;
      }
    }

  }

	@media (max-width: $screen-sm-max){
		.navbar-toggle {
		    display: block!important;
		}

		.collapse {
			display: none!important;

			&.in {
				display: block!important;
			}
		}
	}

  .navbar-collapse {

    position: fixed;
    top: 80px;
    right: 0;
    width: 100%;
    margin-top: 1px;
    background-color: #ffffff;
    margin: 0;
    transition: all 0.2s ease;
    overflow-y: scroll;
    overflow-x: hidden;

		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			width: 400px;
			left: 400px;
		}

		@media (min-width: $screen-md-min) {
			position: absolute;
			top: 0;
	    background-color: transparent;
		}

    .nav {
      margin: 0 -15px;
	    z-index: 5;

      li {
				width: 100%;
        border-bottom: 1px solid #e5e5e5;

        .become-host {
					max-width: 300px;
					background-color: $brand-primary;
					color: white;
          margin: 18px 30px;
          padding: 10px 15px;
        }

				&.dropdown {

					overflow: visible;

					.dropdown-menu {
						a {
							color: #5e5e5e;
							margin: 3px 20px;
							text-transform: none;

							&:hover {
								color: $brand-primary;
							}
						}
					}

					&.open>a {
						color: $brand-primary;

						&, &:hover, &:focus {
							background-color: transparent;
						}
					}
				}

        a {
          padding: 18px 30px;
          display: block;
          color: $brand-primary;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 14px;
          position: relative;
          background-color: #ffffff;
        }


				@media (min-width: $screen-md-min) {
	        border-bottom: none;
					width: inherit;

					.become-host {
						background-color: white;
						color: $brand-primary;
	        }

	        a {
	          color: white;
						font-weight: bold;
	          background-color: transparent;
						padding: 0;
						margin: 30px 15px;
	        }
				}
      }
    }
  }

  // > nav {
  // 	height: 80px;
  // 	margin-bottom: 0;
  // 	border-radius: 0;
  // 	transition: margin 0.5s ease;
  // 	margin-top: -80px;
  // }
	//
  // > .navbar-fixed-top {
  // 	height: 60px;
  // 	margin-top: 0;
  // 	background-color: #fff;
	//
  //   &.hidden {
  //   	display: block!important;
  //   	visibility: visible!important;
  //   	margin-top: -80px;
  //   }
  // }
	//
  // > nav .container-fluid, .navbar-header, .navbar-brand, .navbar-brand img {
  // 	height: 100%;
  // }
	//
  // > nav .navbar-main a {
  // 	color: #fff;
  // 	font-weight: bold;
	//
  // 	&.become-host {
  // 		padding: 5px 15px;
  // 	}
  // }

}

// .nav>li>a:hover, .nav>li>a:focus {
// 	text-decoration: none;
// 	background-color: transparent;
// }
//
// nav .navbar-brand {
// 	padding: 15px 25px;
// }
//
// nav.navbar-fixed-top .navbar-brand {
// 	padding: 5px 20px;
// }
//
// nav .navbar-main {
// 	margin: 15px;
// }
//
// nav.navbar-fixed-top .navbar-main {
// 	margin: 5px 15px;
// }


// header.main-header>.navbar-fixed-top .navbar-main a {
// 	color: #00ad92;
// 	font-weight: bold;
//
// 	&.become-host {
// 		padding: 5px 15px;
// 	}
// }

//
// header.main-header>nav .navbar-main a:hover {
// 	background-color: transparent;
// 	color: $brand-primary;
// }
//
// header.main-header>.navbar-fixed-top .navbar-main a:hover {
// 	background-color: transparent;
// 	color: #00ad92;
// }
