/* 6 - Classified Carousel Modal
---------------------------------------------------------------------- */

#carouselModal .modal-dialog {
	width: 99%;
	height: 80%;
}

#carouselModal>.modal-dialog .modal-content {
	height: 100%;
	box-shadow: none;
	background-color: transparent;
	border: 0;
}

#carouselModal .owl-carousel {
	position: relative;
	height: 100%;
}

#carouselModal .owl-carousel div:not(.owl-controls):not(.owl-nav) {
	height: 100%;
}

#carouselModal .owl-carousel img {
	height: 100%;
	width: auto;
	margin: auto;
	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
	border: 1px solid #999;
	border: 1px solid rgba(0,0,0,.2);
}

#carouselModal .owl-carousel .owl-nav {
	color: #fff;
}

#carouselModal .owl-nav .owl-prev{
	position: absolute;
	top: 45%;
	font-size: 40px;
}

#carouselModal .owl-nav .owl-next{
	position: absolute;
	top: 45%;
	right: 0;
	font-size: 40px;
}
