<!-- Carousel modal -->
<div id="carouselModal" class="modal fade in" tabindex="-1" role="dialog"
     aria-labelledby="carouselModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <div id="owl-carousel" class="owl-carousel">
                    {% for picture in pictures %}
                        <img src="{{ asset(picture.path ) }}" class="" alt="">
                    {% endfor %}
                </div>
        </div>
    </div>
</div>
