{% block fos_user_content %}
    <form id="login_form" action="{{ path('fos_user_security_check') }}" method="POST" name="login" class="loginAjaxForm form-horizontal">
        <div class="form-group">
            <label for="username" class="sr-only">{{ 'modals.register.email'|trans }}</label>
            <div class="col-sm-12">
                <input type="text" id="username" class="form-control input-lg" name="_username" placeholder="{{ 'modals.register.email'|trans }}" value="{{ last_username }}" required="required" />
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="sr-only">{{ 'modals.register.password'|trans }}</label>
            <label class="sr-only required" for="login_password">Mot de passe*</label>
            <div class="col-sm-12">
                <input type="password" id="password" class="form-control input-lg" name="_password" placeholder="{{ 'modals.register.password'|trans }}" required="required" />
            </div>
        </div>
        <div class="checkbox">
            <label for="remember_me">
              <input type="checkbox" id="remember_me" class="remember_me" name="_remember_me" value="on"/>{{ 'security.login.remember_me'|trans({}, "FOSUserBundle") }}
            </label>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <a href="#" id="resetting-trigger">Mot de passe oublié ?</a>
            </div>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        <div class="form-group">
            <div class="col-sm-12">
                <div id="login-alert">
                  <div class="alert alert-success hidden" role="alert">
                    <span class="alert-message"></span>
                  </div>
                  <div class="alert alert-danger hidden" role="alert">
                    <span class="fa fa-exclamation-sign" aria-hidden="true"></span>
                    <span class="alert-message"></span>
                  </div>
                </div>
                {#<input type="submit" value="Connexion" class="btn btn-success btn-lg btn-block">#}
                <input type="submit" id="_submit" class="btn btn-success btn-lg btn-block login-submit" name="_submit" value="{{ 'modals.login.submit'|trans }}" />
            </div>
        </div>
    </form>
  
{% endblock fos_user_content %}
