<!-- Category Section -->
<section id="category" class="section-pattern">
    <div class="container">
        <div class="row section-body">
            {% for category in categorys.items %}
                <div class="col-xs-6 col-sm-3">
                    <a href="{{ path("app_classified_search", { 'category': category.slug }) }}">
                        <div class="thumbnail">
                            <img src="{{ asset(category.picture.path) }}" alt="...">
                            <div class="caption">
                                <h2>{{ category.name }}</h2>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="row section-footer text-center">
          <a class="btn btn-default" href="{{ path("app_classified_search_all") }}">Toutes les catégories</a>
        </div>
    </div>
</section>
<!-- Category Section  End -->
