{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Aide - {{ parent() }}
{% endblock %}

{% block body %}

    {% block odop_informations %}
        <!-- Quick Search Section -->
        <section id="classified-informations" class="section-pattern top">
            <div class="container-fluid informations">
                <div class="row">
                    <div class="col-md-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="border-bottom">Bienvenue sur le tutoriel de test d'odop</h1>
                                    <br>
                                    <p>Tout d'abord, merci de prendre de votre temps pour tester l'application. Il est très important pour nous d'avoir un ensemble d'utilisateurs qui testent l'application car nous n'avons pas la même approche que vous lorsqu'il s'agit de tester ! Vous pouvez donc nous ouvrir les yeux sur des comportements de l'application inhabituel que nous n'avons n'aurions pas remarqué.</p>
                                    <br>
                                    <b>Quelques infos avant de vous lancer :</b>
                                    <ul>
                                      <li>Le site n'est pas encore entièrement responsive (compatible pour mobile & tablette), merci de le tester sur ordinateur (ou mac :p)</li>
                                      <li>Le site est optimisé pour le navigateur Google Chrome pour l'instant</li>
                                      <li>N'hésitez pas à aller chercher de faux contenus si vous ne savez pas quoi mettre dans la description par exemple ou en tant que photo pour une annonce</li>
                                    </ul>
                                    <br>
                                    <b>Quand vous rencontrer un bug visuel / fonctionnel :</b>
                                    <ul>
                                      <li>Faite une capture d'écran de la page,</li>
                                      <li>Noter l'URL de la page qui pose problème,</li>
                                      <li>Donner une petite description du problème.</li>
                                    </ul>
                                    <p>Vous pouvez nous les communiqués via FB, <a target="_blank" href="mailto:julien.decoen@gmail.com?subject=BUG_ODOP">email</a> ou directement via ce <a target="_blank" href="https://docs.google.com/document/d/1tZ_bsHMLfzMbLFfPiCiqc9C1k1FeH-_r9YkRavkF9hM/edit?usp=sharing">lien</a></p>
                                    <br>
                                    <b>Voici les quelques étapes à suivre pour tester l'application dans son intégralité</b>
                                    <br>
                                    <p></p>
                                    <ul>
                                      <li>S'inscrire sur l'application</li>
                                      <li>Se connecter grâce à vos identifiants</li>
                                      <li>Réserver une annonce</li>
                                      <li>Déposer un commentaire sur une annonce</li>
                                      <li>Créer votre propre annonce</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Quick Search  End -->
    {% endblock %}
{% endblock %}
