<!-- Highlight Section -->
<section id="highlight" class="section-pattern ha-waypoint" data-animate-up="navbar-relative">
    <div class="container pattern">
        <div class="row section-heading">
            <div class="col-sm-12 text-center">
              <h3>{{ highlight.title }}</h3>
            </div>
        </div>
        <div class="row section-body">
            {% for item in highlight.items %}
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="{{ path('app_classified_show', { 'id': item.id }) }}">
                        <div class="thumbnail">
                            <img src="{{ item.pictures.first ? asset(item.pictures.first.path ) }}" alt="...">
                            <div class="caption">
                                <h4>{{ item.title | truncate(50) }}</h4>
                                <div class="favorite">
                                    <div class="mark">
                                        <i class="fa fa-star yellow" aria-hidden="true"></i>
                                        <i class="fa fa-star yellow" aria-hidden="true"></i>
                                        <i class="fa fa-star yellow" aria-hidden="true"></i>
                                        <i class="fa fa-star yellow" aria-hidden="true"></i>
                                        <i class="fa fa-star-o yellow" aria-hidden="true"></i>
                                    </div>
                                    <div class="comments pull-right">
                                        {{ item.comments | length }} <i class="fa fa-comment" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="row section-footer text-center">
          <a href="{{ path("app_classified_search") }}" class="btn btn-default">{{ highlight.button }}</a>
        </div>
    </div>
</section>
<!-- Hightlight Section  End -->
