#quick-search {
  background: url(../../img/bg.png);
  background-size: cover;
  background-position: center;
  padding-top: 80px;
  color: #fff;

  >.container {
    overflow: visible;
  }

  @media (min-width: $screen-md-min) {
    height: 90vh;
    display: flex;
    align-items: center;
  }

  .caption {
    margin-top: 50px;
    margin-bottom: 50px;

    h4 {
      margin-top: 40px;
    }

    img {
      width: 100%;

      @media (min-width: $screen-sm-min){
        width: 50%;
      }
    }
  }

  .search-home {
   	margin-bottom: 50px;

    form {
     	font-size: 0;
      display: flex;
      flex-direction: column;

      .form-group{
      	position: relative;
      	font-size: 16px;
        height: 40px;
        width: 100%;
      }

      @media (min-width: $screen-sm-min){
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .form-group {
          width: 25%;
        }
      }

      @media (min-width: $screen-md-min){

        .form-group {
          width: 20%;
        }
      }
     }

    input {
      height: 40px;
    }

    label {
     	position: absolute;
     	color: #5e5e5e;
     	top: 8px;
     	left: 10px;
    }

    input[type="text"],  input[type="date"],  input[type="number"] {
   	  background-color: #fff;
   	  color: #5e5e5e;
   	  padding: 6px 0px 6px 32px;
    }

    input[type="submit"] {
      width: 100%;
     	background-color: $brand-primary;
    }
  }
}


#highlight, #category {
  .thumbnail {
      padding: 0;
    	border: none;
    	background-color: #00604f;
    	position: relative;
  }
}

#highlight {

  .section-heading {
    h3 {
      margin-bottom: 20px;

      @media (min-width: $screen-sm-min){
        margin-bottom: 30px;
        margin-top: 30px;
      }
    }
  }

  .thumbnail {

    height: 250px;
    border-radius: 0;
  	overflow: hidden;

    @media (min-width: $screen-sm-min) {
      height: 300px;
    }

    @media (min-width: $screen-lg-min) {
      height: 350px;
    }

    img {
      opacity: 0.8;

      height: 100%;
    	max-width: none;
      margin: 0;
    	position: relative;
    	left: 50%;
    	transform: translateX(-50%);
    }

    .caption {
    	position: absolute;
    	bottom: 0;
    	color: #fff;
    }

    .caption {
    	top: auto;
    	bottom: 0;
    	padding: 1em;
    	height: auto;
    	background: rgba(0,163,136,0.8);
    	color: #fff;
    	transition: transform 0.35s;
    	transform: translate3d(0,100%,0);
    }

    p {
    	margin: 0;
    	color: #fff;
    }

    .favorite>div {
    	display: inline-block;
    }

    .mark {
    	padding: 0;
    	background-color: transparent;
    }

    h4 {
    	float: left;
    	margin: 0 0 10px 0;
    }

    p.icon-links a {
    	float: right;
    	color: #fff;
    	font-size: 1.4em;
    }

    &:hover p.icon-links a:hover,
    &:hover p.icon-links a:focus {
    	color: #252d31;
    }

     h4,
     div.favorite div {
    	transition: transform 0.35s;
    	transform: translate3d(0,200%,0);
    }

    p.icon-links a span::before {
    	display: inline-block;
    	padding: 8px 10px;
    	font-family: 'feathericons';
    	speak: none;
    	-webkit-font-smoothing: antialiased;
    	-moz-osx-font-smoothing: grayscale;
    }

    &:hover div.caption,
    &:hover h4,
    &:hover div.favorite div {
    	transform: translate3d(0,0,0);
    }

    .icon-eye::before {
    	content: '\e000';
    }

    .icon-paper-clip::before {
    	content: '\e001';
    }

    .icon-heart::before {
    	content: '\e024';
    }

    h4 {
    	display: inline-block;
    }

    @media (max-width: 992px){
       div.caption,
       h4,
       div.favorite div {
      	transform: translate3d(0,0,0);
      }
    }

    &:hover h4 {
    	transition-delay: 0.05s;
    }

    &:hover div.favorite div:nth-child(2) {
    	transition-delay: 0.15s;
    }

    &:hover div.favorite div:first-child {
    	transition-delay: 0.2s;
    }

  }

  .section-footer {
    a.btn {
      margin-top: 10px;
      margin-bottom: 30px;
    }
  }

}

#become-host {
	background-color: #00604f;
	color: #fff;

  .section-heading {
    h3 {
      margin-bottom: 20px;

      @media (min-width: $screen-sm-min){
        margin-bottom: 30px;
        margin-top: 30px;
      }
    }
  }

  .section-body {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-sm-min){
      flex-direction: row;
      align-items: stretch;
    }

    .visuel {
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: relative;
      background: url('../img/demo/become-host.jpg');
      background-size: cover;
    }

    .thumbnail {
    	background-color: $brand-primary;
    	border-radius: 0;
    	border: none;
    	margin: 0;
    	min-height: 256px;

    	.caption {
    		color: #fff;

    		h3 {
    			margin: 10px 0;
    		}
    	}
    }
  }
}

#category {

  .section-body {
  	padding-top: 5%;
  }

  .thumbnail .caption {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
    }

  .thumbnail h2 {
  	position: absolute;
  	text-align: center;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	margin: 0;
  	color: #fff;
  }

  .thumbnail {
  	background: $brand-primary;
  	overflow: hidden;
  }

  .thumbnail img {
  	opacity: 0.95;
  	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  	transition: opacity 0.35s, transform 0.35s;
  	-webkit-transform: scale3d(1.05,1.05,1);
  	transform: scale3d(1.05,1.05,1);
  }

  .thumbnail .caption::before {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	background: rgba(255,255,255,0.5);
  	content: '';
  	-webkit-transition: -webkit-transform 0.6s;
  	transition: transform 0.6s;
  	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
  	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
  }

  .thumbnail p {
  	position: absolute;
  	right: 0;
  	bottom: 0;
  	margin: 3em;
  	padding: 0 1em;
  	max-width: 150px;
  	border-right: 4px solid #fff;
  	text-align: right;
  	opacity: 0;
  	-webkit-transition: opacity 0.35s;
  	transition: opacity 0.35s;
  }

  .thumbnail:hover img {
  	opacity: 0.6;
  	-webkit-transform: scale3d(1,1,1);
  	transform: scale3d(1,1,1);
  }

  .thumbnail:hover .caption::before {
  	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
  	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
  }

  .thumbnail:hover p {
  	opacity: 1;
  	-webkit-transition-delay: 0.1s;
  	transition-delay: 0.1s;
  }

  .section-footer {
    a.btn {
      margin-top: 10px;
      margin-bottom: 30px;
    }
  }
}
