{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}

    {% block odop_quickSearch %}
        {{ include('AppBundle:Homepage:quickSearch.html.twig' , {'quickSearch': quickSearch}) }}
    {% endblock %}

    {% block odop_highlight %}
        {{ include('AppBundle:Homepage:highLight.html.twig' , {'highlight': highlight}) }}
    {% endblock %}

    {% block odop_becomeHost %}
    <!-- Become Host Section -->
    <section id="become-host" class="section-pattern ha-waypoint" data-animate-down="navbar-fixed-top" data-animate-up="navbar-relative">
        <div class="container pattern">
            <div class="row section-heading">
                <div class="col-sm-12 text-center">
                    <h3>Rentabiliser votre propriété</h3>
                </div>
            </div>
            <div class="row section-body">
                <div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-5">
                  <div class="visuel"></div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <div class="thumbnail">
                        <div class="caption text-center">
                            <h3>Au coeur de la fête</h3>
                            <p>Gagner de l'argent en proposant votre bien ou une partie de celui-ci</p>
                            <!-- <button class="become-host btn-disabled">Estimer mon revenue</button> -->
                            <button type="button" class="btn btn-default coming-soon" disabled>Coming soon</button>
                        </div>
                        <img src="{{ asset('img/balloons.png') }}" alt="">
                    </div>
                </div>
            </div><!-- /.container -->
        </div>
    </section>
    <!-- Become-host Section  End -->
    {% endblock %}

    {% block odop_category %}
        {{ include('AppBundle:Homepage:categorys.html.twig' , {'categorys': categorys}) }}
    {% endblock %}

{% endblock %}
