<!-- Quick Search Section -->
<section id="quick-search" class="section-pattern ha-waypoint" data-animate-down="navbar-relative">
    <div class="container pattern">
        <div class="row">
            <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
              <div class="">
                <div class="caption text-center">
                    <img src="{{ asset('img/caption-slider.png') }}" class="" alt="One day One place">
                    <h4>Louez des lieux atypiques pour vos évènement les plus originaux</h4>
                </div>
                <div class="search-home text-center">
                    {{ form_start(quickSearch, {'action': path('app_classified_search'), 'attr': {'class': 'form-inlin'}}) }}
                    {{ form_errors(quickSearch) }}
                    <div class="form-group">
                        {{ form_label(quickSearch.city, 'quickSearch.location'|trans, {'label_attr': {'class': 'sr-only'}}) }}
                        <div class="inner-addon left-addon">
                            <i class="fa fa-map-marker"></i>
                            {{ form_widget(quickSearch.city, {'attr': {'placeholder': 'quickSearch.location'|trans, 'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(quickSearch.date_start, 'quickSearch.date'|trans, {'label_attr': {'class': 'sr-only'}}) }}
                        <div class="inner-addon left-addon">
                            <i class="fa fa-calendar"></i>
                            {{ form_widget(quickSearch.date_start, {'attr': {'placeholder': 'quickSearch.date'|trans, 'class': 'form-control startDate'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(quickSearch.duree, 'quickSearch.duration'|trans, {'label_attr': {'class': 'sr-only'}}) }}
                        <div class="inner-addon left-addon">
                            <i class="fa fa-clock-o"></i>
                            {{ form_widget(quickSearch.duree, {'attr': {'placeholder': 'quickSearch.duration'|trans, 'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(quickSearch.maxParticipant, 'quickSearch.players'|trans, {'label_attr': {'class': 'sr-only'}}) }}
                        <div class="inner-addon left-addon">
                            <i class="fa fa-user"></i>
                            {{ form_widget(quickSearch.maxParticipant, {'attr': {'placeholder': 'quickSearch.players'|trans, 'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                      <input type="submit" class="btn" value="Rechercher">
                    </div>
                    {{ form_end(quickSearch) }}
                </div>
              </div>
            </div>
        </div><!-- /.container -->
    </div>
</section>
<!-- Quick Search  End -->
