{% extends "AdminBundle::layout.html.twig" %}

{% block title %}
    Annonces - {{ parent() }}
{% endblock %}

{% block odop_body %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title"><i class="fa fa-list" aria-hidden="true"></i></span>Annonces</h4>
                    <a href="{{ path('admin_classified_new') }}" class="btn btn-sm btn-success pull-left"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    <div class="recherche">
                        <form class="navbar-form">
                            <input type="text" class="form-control" placeholder="Rechercher...">
                        </form>
                    </div>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th class="text-center"><a href>#</a></th>
                            <th class="text-center"><a href>Proprio</a></th>
                            <th class="text-center"><a href>Titre</a></th>
                            <th class="text-center">Prix</th>
                            <th class="text-center">Commentaires</th>
                            <th class="text-center">Dernière modif</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for classified in classifieds %}
                        <tr>
                            <td class="text-center"><a href="{{ path('admin_classified_show', { 'id': classified.id }) }}">{{ classified.id }}</a></td>
                            <td class="text-center"><a href="{{ path('admin_user_show', { 'id': classified.owner }) }}">{{ classified.owner.lastname }}</a></td>
                            <td class="text-center">{{ classified.title }}</td>
                            <td class="text-center">{{ classified.price }}</td>
                            <td class="text-center">{{ classified.comments|length }}</td>
                            <td class="text-center">{% if classified.dateModified %}{{ classified.dateModified|date('d-m-Y') }}{% endif %}</td>
                            <td class="text-center">
                                <a href="{{ path('admin_classified_show', { 'id': classified.id }) }}" role="button" class="btn btn-primary btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                <a href="{{ path('admin_classified_edit', { 'id': classified.id }) }}" role="button" class="btn btn-warning btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td class="text-center" colspan="8">
                                Aucun résultat
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <nav aria-label="Page navigation" class="text-center">
                        {{ knp_pagination_render(classifieds) }}
                    </nav>
                </div>
            </div>
        </div>


{% endblock %}
