{% extends "AdminBundle::layout.html.twig" %}

{% block title %}
    Annonces - {{ parent() }}
{% endblock %}

{% block odop_body %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title"><i class="fa fa-list" aria-hidden="true"></i></span>Afficher une annonce</h4>
                    <a href="{{ path('admin_classified_index') }}" class="btn btn-sm btn-default pull-left"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
                    {% if classified.dateModified %}<p class="pull-right"><i class="fa fa-info-circle" aria-hidden="true"></i> Dernière modification : {{ classified.dateModified|localizeddate('full', 'none', locale) }}</p>{% endif %}
                </div>
                <div class="content">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                    {{ form_errors(form) }}

                    <div class="form-group">
                        {{ form_label(form.title, "Titre", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {{ form_errors(form.title) }}

                        <div class="col-sm-9">
                            {{ form_widget(form.title, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.country, "Pays", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {{ form_errors(form.country) }}

                        <div class="col-sm-2">
                            {# Génération de l'input. #}
                            {{ form_widget(form.country, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
                        </div>

                        {{ form_label(form.region, "Region", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}

                        {{ form_errors(form.region) }}

                        <div class="col-sm-3">
                            {# Génération de l'input. #}
                            {{ form_widget(form.region, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
                        </div>

                        {{ form_label(form.city, "Ville", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}

                        {{ form_errors(form.city) }}

                        <div class="col-sm-3">
                            {# Génération de l'input. #}
                            {{ form_widget(form.city, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.description, "Description", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {{ form_errors(form.description) }}

                        <div class="col-sm-4">
                            {# Génération de l'input. #}
                            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.maxParticipant, "Participants", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {{ form_errors(form.maxParticipant) }}

                        <div class="col-sm-2">
                            {# Génération de l'input. #}
                            {{ form_widget(form.maxParticipant, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
                        </div>

                        {{ form_label(form.surfaceArea, "Surface", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}

                        {{ form_errors(form.surfaceArea) }}

                        <div class="col-sm-2">
                            {# Génération de l'input. #}
                            {{ form_widget(form.surfaceArea, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
                        </div>

                        {{ form_label(form.price, "Prix", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}

                        {{ form_errors(form.price) }}

                        <div class="col-sm-2">
                            {# Génération de l'input. #}
                            {{ form_widget(form.price, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.categorys, "Catégories", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {{ form_errors(form.categorys) }}

                        <div class="col-sm-10">
                            {# Génération de l'input. #}
                            {{ form_widget(form.categorys, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.equipment, "Equipement", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {{ form_errors(form.equipment) }}

                        <div class="col-sm-10">
                            {{ form_widget(form.equipment, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.owner, "Propriétaire", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {{ form_errors(form.owner) }}

                        <div class="col-sm-4">
                            {# Génération de l'input. #}
                            {{ form_widget(form.owner, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-4">
                            <a href="{{ path('admin_classified_edit', { 'id': classified.id }) }}" class="btn btn-sm btn-warning pull-left"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editer</a>
                        </div>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}