{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div id="resetting-content">
    <form id="resetting-form" action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="signinAjaxForm fos_user_resetting_request">
        <div class="resetting-message">
            <h5 class="text-justify">Veuillez saisir l'adresse email utilisée par votre compte. Un mail vous sera envoyé pour réinitialiser votre mot de passe.</h5>
        </div>
        <div class="form-group">
            <label for="username">{{ 'resetting.request.username'|trans }}</label>
            <input type="text" class="form-control" placeholder="Adresse email" id="username" name="username" required="required" />
        </div>
        <div>
            <button type="button" class="btn btn-default login-submit" >{{ 'resetting.request.submit'|trans }}</button>
        </div>
    </form>
</div>
<div id="resetting-success" class="hidden alert alert-success alert-message text-center">
</div>
<div id="resetting-error" class="hidden alert alert-danger alert-message text-center">
</div>

{% endblock fos_user_content %}


