{% trans_default_domain 'FOSUserBundle' %}
<div class="password-content">
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <div class="form-group">
                    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
                    {{ form_widget(form) }}
                    <div>
                        <input class="btn btn-default" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>