<!-- Signin modal -->
<div id="signinModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="signinModal">
    <div class="modal-dialog modal-sm" role="document" style="width:400px;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="panel-group" id="signin" role="tablist" aria-multiselectable="true">
                    <div class="panel">
                        {% for owner in hwi_oauth_resource_owners() %}
                            {% if owner != 'facebook' %}
                            <a class="link-hwi" href="{{ hwi_oauth_login_url(owner) }}">
                                <button type="button" data-id="{{ owner }}" class="login-social btn btn-{{ owner }} btn-lg btn-block"><i class="fa fa-{{ owner }}" aria-hidden="true"></i> Connexion avec {{ owner }}</button>
                            </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="panel panel-default">
                        <div class="" role="tab" id="headingTwo">
                            <button type="button" class="btn btn-success btn-lg btn-block"  data-toggle="collapse" data-parent="#signin" href="#email_signin" aria-expanded="false" aria-controls="email_signin"><i class="fa fa-envelope" aria-hidden="true"></i> Inscription par email</button>
                        </div>
                        <div id="email_signin" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            {{ render(controller("FOSUserBundle:Registration:register")) }}
                        </div>
                    </div>
                <hr>
                <div class="not-signin">Vous êtes déjà inscrits ? <button type="button" id="login-trigger" class="btn btn-default btn-md pull-right">Connexion</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
