{% extends "AdminBundle::layout.html.twig" %}

{% block title %}
    Commentaires - {{ parent() }}
{% endblock %}

{% block odop_body %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title"><i class="fa fa-comment" aria-hidden="true"></i></span>Commentaires</h4>
                    <a href="{{ path('admin_comment_new') }}" class="btn btn-sm btn-success pull-left"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    <div class="recherche">
                        <form class="navbar-form">
                            <input type="text" class="form-control" placeholder="Rechercher...">
                        </form>
                    </div>
                </div>
                <div class="content table-responsive table-full-width">
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="{% if app.request.get('filter') == 'pending' %}active{% endif %}"><a href="{{ path('admin_comment_index_by', { 'filter': 'pending' }) }}">En attente</a></li>
                        <li role="presentation" class="{% if app.request.get('filter') == 'valide' %}active{% endif %}"><a href="{{ path('admin_comment_index_by', { 'filter': 'valide' }) }}">Validé</a></li>
                        <li role="presentation" class="{% if app.request.get('filter') == 'deleted' %}active{% endif %}"><a href="{{ path('admin_comment_index_by', { 'filter': 'deleted' }) }}">Supprimé</a></li>
                        <li role="presentation" class="{% if app.request.get('filter') == '' %}active{% endif %}"><a href="{{ path('admin_comment_index') }}">Tous</a></li>
                    </ul>
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th class="text-center"><a href>#</a></th>
                            <th class="text-center">Auteur</th>
                            <th class="text-center">Annonce</th>
                            <th class="text-center">Contenu</th>
                            <th class="text-center">Date</th>
                            {% if app.request.get('filter') != 'pending' %}
                                <th class="text-center">Statut</th>
                            {% endif %}
                            <th class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for comment in comments %}
                        <tr>
                            <td class="text-center"><a href="{{ path('admin_comment_show', { 'id': comment.id }) }}">{{ comment.id }}</a></td>
                            <td class="text-center"><a href="{{ path('admin_user_show', { 'id': comment.user }) }}">{{ comment.user.firstname ~ " " ~ comment.user.lastname }}</a></td>
                            <td class="text-center"><a href="{{ path('admin_classified_show', { 'id': comment.classified }) }}">{{ comment.classified }}</a></td>
                            <td class="text-center">{{ comment.content }}</td>
                            <td class="text-center">{% if comment.dateCreated %}{{ comment.dateCreated|date('d-m-Y') }}{% endif %}</td>
                            {% if app.request.get('filter') != 'pending' %}
                                <td class="text-center">
                                    {% if comment.status == 'deleted' %}
                                        <a href="#" role="button" class="btn btn-danger btn-sm">Supprimé</a>
                                    {% elseif comment.status == 'valide' %}
                                        <a href="#" role="button" class="btn btn-success btn-sm">Approuvé</a>
                                    {% else %}
                                        <a href="#" role="button" class="btn btn-warning btn-sm">En attente</a>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <a href="{{ path('admin_comment_show', { 'id': comment.id }) }}" role="button" class="btn btn-primary btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a href="{{ path('admin_comment_edit', { 'id': comment.id }) }}" role="button" class="btn btn-warning btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                </td>
                            {% else %}
                                <td class="text-center">
                                    <button role="button" class="moderate btn btn-success btn-sm" data-id="{{ comment.id }}" data-action="valide"><i class="fa fa-check" aria-hidden="true"></i></button>
                                    <button role="button" class="moderate btn btn-danger btn-sm" data-id="{{ comment.id }}" data-action="deleted"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </td>
                            {% endif %}

                        </tr>
                        {% else %}
                        <tr>
                            <td class="text-center" colspan="7">
                                Aucun résultat
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <nav aria-label="Page navigation" class="text-center">
                        {{ knp_pagination_render(comments) }}
                    </nav>
                </div>
            </div>
        </div>

    <script>
        $(document).ready(function () {

            $('.moderate').on("click", function (e) {
                e.preventDefault();

                var id = this.getAttribute("data-id");
                var action = this.getAttribute("data-action");

                $.ajax({
                    type: "POST",
                    url: "{{ path('ajax_snippet_comment_moderate') }}",
                    data: 'target_status=' + action + '&target_id=' + id,
                    success: function(response) {
                        if(response.success) {
                            location.reload(true);
                        } else {
                            $('#login-alert .alert-danger').removeClass("hidden");
                            $('#login-alert .alert-danger .alert-message').html(response.message);
                        }
                    }
                });
            });
        });
    </script>

{% endblock %}
