{% extends "AdminBundle::layout.html.twig" %}

{% block title %}
    Commentaires - {{ parent() }}
{% endblock %}

{% block odop_body %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title"><i class="fa fa-comment" aria-hidden="true"></i></span>Afficher une commentaire</h4>
                    <a href="{{ path('admin_comment_index') }}" class="btn btn-sm btn-default pull-left"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
                    {% if comment.dateModified %}<p class="pull-right"><i class="fa fa-info-circle" aria-hidden="true"></i> Dernière modification : {{ comment.dateModified|localizeddate('full', 'none', locale) }}</p>{% endif %}
                </div>
                <div class="content">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                    {{ form_errors(form) }}

                    <div class="form-group">
                        {{ form_label(form.user, "Auteur", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {{ form_errors(form.user) }}

                        <div class="col-sm-4">
                            {{ form_widget(form.user, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
                        </div>


                        {{ form_label(form.classified, "Cible", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}

                        {{ form_errors(form.classified) }}

                        <div class="col-sm-4">
                            {# Génération de l'input. #}
                            {{ form_widget(form.classified, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.rate, "Note", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {{ form_errors(form.rate) }}

                        <div class="col-sm-4">
                            {# Génération de l'input. #}
                            {{ form_widget(form.rate, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.content, "Contenu", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {{ form_errors(form.content) }}

                        <div class="col-sm-4">
                            {# Génération de l'input. #}
                            {{ form_widget(form.content, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.status, "Statut", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {{ form_errors(form.status) }}

                        <div class="col-sm-4">
                            {# Génération de l'input. #}
                            {{ form_widget(form.status, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-4">
                            <a href="{{ path('admin_comment_edit', { 'id': comment.id }) }}" class="btn btn-sm btn-warning pull-left"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editer</a>
                        </div>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}