{% extends "AdminBundle::layout.html.twig" %}

{% block title %}
    Utilisateurs - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dropzone.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script rel="javascripts" type="text/javascript" src="{{ asset('js/dropzone.js') }}"></script>
    <script rel="javascripts" type="text/javascript" src="{{ asset('js/upload.js') }}"></script>
{% endblock %}

{% block odop_body %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title"><i class="fa fa-user" aria-hidden="true"></i>Editer un utilisateur</h4>
                    <a href="{{ path('admin_user_index') }}" class="btn btn-sm btn-default pull-left"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
                </div>
                <div class="content">

                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                    {{ form_errors(form) }}

                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.lastname, "Nom", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

                                {{ form_errors(form.lastname) }}

                                <div class="col-sm-8">
                                    {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">

                                {{ form_label(form.firstname, "Prénom", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

                                {{ form_errors(form.firstname) }}

                                <div class="col-sm-8">
                                    {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.email, "Email", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

                                {{ form_errors(form.email) }}

                                <div class="col-sm-8">
                                    {# Génération de l'input. #}
                                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group" style="margin-bottom: 0">
                                {{ form_label(form.password, "Password", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

                                {{ form_errors(form.password) }}

                                <div class="col-sm-8">
                                    {# Génération de l'input. #}
                                    {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-offset-2 col-sm-3 text-center">
                            <div class="profile_picture">
                                {% if user.avatar is defined %}
                                    <img class="img-responsive" src="{{ user.avatar }}" alt="{{ user.name }}"/>
                                {% else %}
                                <img src="{{ asset('uploads/profile_picture/' ~ user.profilePicture.path) }}" alt="" class="img-responsive">
                                {% endif %}
                            </div>
                            <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#uploadModal">Modifier</button>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.city, "Ville", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {{ form_errors(form.city) }}

                        <div class="col-sm-4">
                            {# Génération de l'input. #}
                            {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        {{ form_label(form.country, "Pays", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}

                        {{ form_errors(form.country) }}

                        <div class="col-sm-4">
                            {# Génération de l'input. #}
                            {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.roles, "Role", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {{ form_errors(form.roles) }}

                        <div class="col-sm-4">
                            {# Génération de l'input. #}
                            {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-4">
                            <input type="submit" value="Modifier" class="btn btn-success btn-sm"/>
                            <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal">Supprimer</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block odop_modal %}
    <div class="uploadModal">
        {{ include('AdminBundle::uploadModal.html.twig') }}
    </div>
    <div class="deleteModal">
        {{ include('AdminBundle::deleteModal.html.twig', {'delete_form': delete_form}) }}
    </div>
{% endblock %}
