{% extends "AdminBundle::layout.html.twig" %}

{% block title %}
    Utilisateurs - {{ parent() }}
{% endblock %}

{% block odop_body %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title"><i class="fa fa-user" aria-hidden="true"></i>Utilisateurs</h4>
                    <a href="{{ path('admin_user_new') }}" class="btn btn-sm btn-success pull-left"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    <div class="recherche">
                        <form class="navbar-form">
                            <input type="text" class="form-control" placeholder="Rechercher...">
                        </form>
                    </div>
                </div>
                <div class="content table-responsive table-full-width">
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="{% if app.request.get('filter') == '' %}active{% endif %}"><a href="{{ path('admin_user_index') }}">Tous</a></li>
                        <li role="presentation" class="{% if app.request.get('filter') == 'register' %}active{% endif %}"><a href="{{ path('admin_user_index_by', {'filter': 'register'}) }}">Utilisateurs</a></li>
                        <li role="presentation" class="{% if app.request.get('filter') == 'owner' %}active{% endif %}"><a href="{{ path('admin_user_index_by', {'filter': 'owner'}) }}">Propriétaires</a></li>
                        <li role="presentation" class="{% if app.request.get('filter') == 'admin' %}active{% endif %}"><a href="{{ path('admin_user_index_by', {'filter': 'admin'}) }}">Admins</a></li>
                    </ul>
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th class="text-center"><a href>#</a></th>
                            <th class="text-center">Nom</th>
                            <th class="text-center">Prénom</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Rôle</th>
                            <th class="text-center">Dernière modif</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                        <tr>
                            <td class="text-center"><a href="{{ path('admin_user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                            <td class="text-center">{{ user.lastname }}</td>
                            <td class="text-center">{{ user.firstname }}</td>
                            <td class="text-center">{{ user.email }}</td>
                            <td class="text-center">{{ user.roles[0] }}</td>
                            <td class="text-center">{% if user.dateModified %}{{ user.dateModified|date('d-m-Y') }}{% endif %}</td>
                            <td class="text-center">
                                <a href="{{ path('admin_user_show', { 'id': user.id }) }}" role="button" class="btn btn-primary btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                <a href="{{ path('admin_user_edit', { 'id': user.id }) }}" role="button" class="btn btn-warning btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td class="text-center" colspan="7">
                                Aucun résultat
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <nav aria-label="Page navigation" class="text-center">
                        {{ knp_pagination_render(users) }}
                    </nav>

                </div>
            </div>
        </div>


{% endblock %}
