{% extends "AdminBundle::layout.html.twig" %}

{% block title %}
    Utilisateurs - {{ parent() }}
{% endblock %}

{% block odop_body %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title"><i class="fa fa-user" aria-hidden="true"></i>Ajouter un
                        utilisateur</h4>
                    <a href="{{ path('admin_user_index') }}" class="btn btn-sm btn-default pull-left"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
                </div>
                <div class="content">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                    {{ form_errors(form) }}

                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.lastname, "Nom", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

                                {{ form_errors(form.lastname) }}

                                <div class="col-sm-8">
                                    {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">

                                {{ form_label(form.firstname, "Prénom", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

                                {{ form_errors(form.firstname) }}

                                <div class="col-sm-8">
                                    {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>


                            <div class="form-group">
                                {{ form_label(form.email, "Email", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

                                {{ form_errors(form.email) }}

                                <div class="col-sm-8">
                                    {# Génération de l'input. #}
                                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group" style="margin-bottom: 0">
                                {{ form_label(form.password, "Password", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

                                {{ form_errors(form.password) }}

                                <div class="col-sm-8">
                                    {# Génération de l'input. #}
                                    {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.city, "Ville", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {{ form_errors(form.city) }}

                        <div class="col-sm-4">
                            {# Génération de l'input. #}
                            {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        {{ form_label(form.country, "Pays", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}

                        {{ form_errors(form.country) }}

                        <div class="col-sm-4">
                            {# Génération de l'input. #}
                            {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.roles, "Role", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {{ form_errors(form.roles) }}

                        <div class="col-sm-4">
                            {# Génération de l'input. #}
                            {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-4">
                            <input type="submit" value="Ajouter" class="btn btn-success btn-sm"/>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
