{% extends "AppBundle:User:profile.html.twig" %}

{% block odop_profile_content %}

    <div class="edit-profile thumbnail">
        <h3>Modifier mes informations</h3>

        {{ include('AppBundle::modules/flashMessage/show.html.twig') }}

        {{ form_start(form, {'action': path(app.request.get('_route')), 'attr': {'id': 'edit_profile', 'class': 'form-horizontal dropzone'}}) }}

        {{ form_errors(form) }}

        <div class="form-group">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.lastname, "Nom", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                    {{ form_errors(form.lastname) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.firstname, "Prénom", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                    {{ form_errors(form.firstname) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.city, "Ville", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                    {{ form_errors(form.city) }}

                    <div class="col-sm-8">
                        {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.country, "Pays", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                    {{ form_errors(form.country) }}

                    <div class="col-sm-8">
                        {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="dz-upload">
                          <div class="fallback">
                            <input name="file" type="file" multiple />
                          </div>
                          <div class="dz-default dz-message">
                            <span>Drop files here to upload</span>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    {{ form_label(form.email, "Email", {'label_attr': {'class': 'col-md-2 control-label'}}) }}
                    {{ form_errors(form.email) }}

                    <div class="col-sm-9">
                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
            </div>
            <div class="col-md-12">
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4">
                        <input type="submit" value="Modifier" class="btn btn-success btn-sm"/>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
   {{ parent() }}

  {% if user.profilePicture %}
      <script type="text/javascript">

        $(document).ready(function () {

          addDropzone('{{ user.profilePicture.name }}', 0.5, '{{ asset(user.profilePicture.path) }}', '{{ path('document_delete', { 'document': user.profilePicture.id }) }}' );

          function addDropzone(filename, size, url, delUrl){

            // Create the mock file:
            let mockFile = {name: filename, size: size, delUrl: delUrl };

            // Call the default addedfile event handler
            myDropzone.emit("addedfile", mockFile);

            // And optionally show the thumbnail of the file:
            myDropzone.emit("thumbnail", mockFile, url);
            // Or if the file on your server is not yet in the right
            // size, you can let Dropzone download and resize it
            // callback and crossOrigin are optional.
            myDropzone.createThumbnailFromUrl(mockFile, url);

            // Make sure that there is no progress bar, etc...
            myDropzone.emit("complete", mockFile);

            // If you use the maxFiles option, make sure you adjust it to the
            // correct amount:
            var existingFileCount = 1; // The number of files already uploaded
            myDropzone.options.maxFiles = myDropzone.options.maxFiles - existingFileCount;
          }

        });

      </script>
  {% endif %}
{% endblock %}
