{% extends "AppBundle:User:profile.html.twig" %}

{% block odop_profile_content %}
    <div class="classifieds thumbnail">
        <h3>Mes dernières annonces</h3>
        <a href="{{ path('account_classified_new') }}" class="btn btn-primary add"name="button">Ajouter une annonce</a>

        {{ include('AppBundle::modules/flashMessage/show.html.twig') }}

        {% for classified in user.classifieds %}
            {{ include('AppBundle:Classified:thumbnail.html.twig' , {'classified': classified, 'action': 'edit'}) }}
        {% else %}
        <p>Pas encore d'annonce</p>
        {% endfor %}
    </div>
{% endblock %}
