{% extends "AppBundle:User:profile.html.twig" %}

{% block odop_profile_content %}
    <div class="classifieds thumbnail">
        <h3>Mes dernières réservations</h3>
        {% for reservation in reservations %}
        <div class="item thumbnail">
            <div class="img">
                <a href="{{ path('app_classified_show', { 'id': reservation.classified.id }) }}">
                    <img src="{{ reservation.classified.pictures.first ? asset(reservation.classified.pictures.first.path ) : asset('img/bg.png') }}" class="img-responsive" alt="...">
                </a>
            </div>
            <div class="price">{{ reservation.classified.price }} €/h</div>
            <div class="caption">
                <a href="{{ path('app_classified_show', { 'id': reservation.classified.id }) }}">{{ reservation.classified.title }}</a>
                <div class="reservation">
                    <div class="mark">
                        <p><i class="fa fa-calendar fa-fw"></i>Du {{ reservation.dateStart|date('d/m/Y H:i') }} au {{ reservation.dateEnd|date('d/m/Y H:i') }}</p>
                        <p><i class="fa fa-home fa-fw"></i>{{ reservation.price }} €</p>
                    </div>
                </div>
                {% if reservation.status == 'valide' %}
                    {% if reservation.isPayed %}
                        <p><i class="fa fa-money fa-fw" style="color:#00a388"></i>Réservation payée</p>
                    {% else %}
                    <p><i class="fa fa-check-circle fa-fw" style="color:#00a388"></i>Réservation validée</p>
                    {% endif %}
                {% elseif reservation.status == 'pending' %}
                    <p><i class="fa fa-question-circle fa-fw"></i>En attente de validation</p>
                {% else %}
                    <p><i class="fa fa-minus-circle fa-fw" style="color:#db514f"></i>Réservation refusée</p>
                {% endif %}
            </div>
        </div>
        {% else %}
            <div>
                Aucun résultat
            </div>
        {% endfor %}
    </div>
{% endblock %}
