{% extends "AppBundle:User:profile.html.twig" %}

{% block odop_profile_content %}
    <div class="classifieds thumbnail">
        <h3>Mes messages</h3>
        {% for conversation in user.conversations %}
                <div class="container-conversation thumbnail">
                    {% for userConversation in conversation.users %}
                        {% if user.id != userConversation.id %}
                        <div class="row">
                            <div class="col-md-2">
                                <a href="{{ path('user_show', { 'id': userConversation.id }) }}">
                                  <img src="{{ userConversation.profilePicture.path is defined? asset(userConversation.profilePicture.path ) : asset('uploads/demo/profile_picture/user.png') }}" class="img-responsive img-circle" alt="">
                                </a>
                                <p class="text-center"><b>{{ userConversation.firstname }} {{ userConversation.lastname }}</b></p>
                            </div>
                            <div class="col-md-10">
                                <div class="container-message">
                                    {% for userMessage in conversation.messages  %}
                                        <!-- <p><b>Demande réservation pour : {{conversation.reservation.classified.title }}
                                            du {{ conversation.reservation.dateStart|date('d/m/Y à H:i') }} au {{ conversation.reservation.dateEnd|date('d/m/Y à H:i') }}</b></p> -->
                                        <p>{{ userMessage.content|truncate(200) }}</p>
                                        <span class="date-message pull-right"><i class="fa fa-clock-o fa-fw"></i>Envoyé le {{ userMessage.dateCreated|date('d/m/Y à H:i') }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="container-approbation">
                                    <div class="show-conversation pull-right">
                                        <button class="btn btn-default coming-soon">Voir la conversation</button>
                                    </div>
                                    <div class="approbation">
                                    {% if conversation.reservation.status == 'valide' %}
                                        {% if conversation.reservation.isPayed %}
                                        <p><i class="fa fa-money fa-fw" style="color:#00a388"></i>Réservation payée</p>
                                        {% else %}
                                        <p><i class="fa fa-check-circle fa-fw" style="color:#00a388"></i>Réservation validée</p>
                                        <button class="display-recap btn btn-primary" data-url = "{{ path('app_reservation_recap') }}" data-id="{{ conversation.reservation.id }}" data-target="#recapModal" data-toggle="modal">Afficher le récapitulatif et payer</button>
                                        {% endif %}
                                    {% elseif conversation.reservation.status == 'pending' %}
                                        {% if user.id == conversation.reservation.classified.owner.id%}
                                            <div class="button-approbation">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <button id="approbation-valide" class="btn btn-success" data-id="{{ conversation.reservation.id }}">Approuver<i class="fa fa-check fa-fw"></i></button>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <button id="approbation-refused" class="btn btn-danger" data-id="{{ conversation.reservation.id }}">Refuser<i class="fa fa-close fa-fw"></i></button>
                                                    </div>
                                                </div>
                                                <input type="hidden" id="path_approbation" data-id="{{ path('account_approbation') }}">
                                            </div>
                                            <div class="result-approbation"></div>
                                        {% else %}
                                            <p><i class="fa fa-question-circle fa-fw"></i>En attente de validation</p>
                                        {% endif %}
                                    {% else %}
                                        <p><i class="fa fa-minus-circle fa-fw" style="color:#db514f"></i>Réservation refusée</p>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
        {% else %}
            <p>Vous n'avez aucun message</p>
        {% endfor %}
    </div>
{% endblock %}
{% block odop_modal %}
    {{ include('AppBundle::Reservation/modal_recap.html.twig')}}
{% endblock %}