{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Mon profil - {{ parent() }}
{% endblock %}

{% block body %}

    <!-- Quick Search Section -->
    <section id="user-profile" class="section-pattern top">
        <div class="background"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 heading">
                    <div class="profile-picture img-circle">
                        {% if user.profilePicture.path is defined %}
                            <img class="img-responsive" src="{{ asset(user.profilePicture.path) }}"
                             alt="{{ user.profilePicture.description }}"/>
                        {% elseif user.avatar is defined and user.profilePicture.path is not defined %}
                            <img class="img-responsive" src="{{ user.avatar }}" alt="{{ user.lastname }}"/>
                        {% else %}
                            <img src="{{ asset('uploads/demo/profile_picture/user.png')}}" class="img-responsive img-circle" alt="unknown">
                        {% endif %}
                    </div>
                    <div class="infos">
                        <h2 class="name">{{ user.firstname }}</h2>

                        {% if user.city is defined %}
                        <div class="adress">{{ user.city }}, {{ user.country }}</div>
                        {% endif %}
                        <div class="members">Membres depuis <b>{{ user.dateCreated|date('M Y') }}</b></div>
                        <div class="comment">
                            <a href="">
                                <div class="favorite">
                                    <div class="markaket">
                                        <i class="fa fa-star yellow" aria-hidden="true"></i>
                                        <i class="fa fa-star yellow" aria-hidden="true"></i>
                                        <i class="fa fa-star yellow" aria-hidden="true"></i>
                                        <i class="fa fa-star yellow" aria-hidden="true"></i>
                                        <i class="fa fa-star-o yellow" aria-hidden="true"></i>
                                        (3)
                                    </div>
                                    <div class="comments">

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 contact">
                    <div class="row">
                        <div class="col-md-4 button">
                            <a href="{{ path("user_show", {'id': user.id}) }}" class="btn become-host">Voir mon profil</a>
                        </div>
                        <div class="col-md-8 infos">
                            <div>
                                <p>Taux de réponse : <b>100%</b></p>
                                <p>Délai de réponse : <b>Quelques heures</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">

                    {% block odop_profile_content %}
                        <div class="classifieds thumbnail">
                            <h3>Mes dernières annonces</h3>
                            {% for classified in user.classifieds %}
                                {{ include('AppBundle:Classified:thumbnail.html.twig' , {'classified': classified, 'action': 'edit'}) }}
                            {% else %}
                            <p>Pas encore d'annonce</p>
                            {% endfor %}
                        </div>
                    {% endblock %}
                </div>
                <div class="col-md-4">
                    <div class="about thumbnail">
                        <h3>Mon profil</h3>
                        <nav class="sidebar-menu">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="{{ path('account_edit') }}" class="active">Modifier les informations</a></li>
                                <li><a href="{{ path('account_classified') }}" class="">Gérer mes annonces</a></li>
                                <li><a href="{{ path('account_reservation') }}" class="">Mes réservations</a></li>
                                <li><a href="{{ path('account_conversation') }}" class="">Mes messages</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
