<form id="signin_form" name="signin" action="{{ path('fos_user_registration_check_email') }}" method="get" class="signinAjaxForm form-horizontal">
	<div class="form-group">
		<label class="sr-only required" for="signin_email">Prénom*</label>
		<div class="col-sm-12">
			{{ form_widget(form.firstname, {'attr': {'class': 'form-control input-lg', 'placeholder': 'Prenom*', 'required' : 'required', 'maxlength' : '255'} }) }}
			{{ form_errors(form.firstname) }}
		</div>
	</div>
	<div class="form-group">
		<label class="sr-only required" for="signin_email">Nom*</label>
		<div class="col-sm-12">
			{{ form_widget(form.lastname, {'attr': {'class': 'form-control input-lg', 'placeholder': 'Nom*', 'required' : 'required', 'maxlength' : '255'} }) }}
			{{ form_errors(form.lastname) }}
		</div>
	</div>
	<div class="form-group">
		<label class="sr-only required" for="signin_email">Adresse Email*</label>
		<div class="col-sm-12">
			{{ form_widget(form.email, {'attr': {'class': 'form-control input-lg', 'placeholder': 'Adresse Email*', 'required' : 'required', 'maxlength' : '255'} }) }}
			{{ form_errors(form.email) }}
		</div>
	</div>
	<div class="form-group">
		<label class="sr-only required" for="signin_password">Mot de passe*</label>
		<div class="col-sm-12">
			{{ form_widget(form.password.first, {'attr': {'class': 'form-control input-lg', 'placeholder': 'Mot de passe'} }) }}
			{{ form_errors(form.password.first) }}
		</div>
	</div>
	<div class="form-group">
		<label class="sr-only required" for="signin_password">Confirmer mot de passe*</label>
		<div class="col-sm-12">
			{{ form_widget(form.password.second, {'attr': {'class': 'form-control input-lg', 'placeholder': 'Confirmer mot de passe'} }) }}
			{{ form_errors(form.password.second) }}
		</div>
	</div>
	{#<div class="checkbox">
		<label for="signin_emailing">
			<input type="checkbox" name="signin[emailing]" id="signin_emailing" value="true" class="emailing">
			Je souhaite recevoir par e-mail des coupons, des promotions, des sondages et les actualités sur ODOP et ses partenaires.
		</label>
	</div>
	#}
	<div class="form-group">
		<div class="col-sm-12">
			<p></p><p style="font-size: 12px">En créant un compte, j'accepte les <a href="#">Conditions générales</a>, la
				<a href="#">Politique anti-discriminations</a>, les <a href="#">Conditions de service</a> relatives aux paiements, la
				<a href="#">Politique de confidentialité</a>, la <a href="#">Politique de remboursement</a> des organisateurs et
				les Conditions de la <a href="#">Garantie Hôte</a> d'ODOP.</p>
		</div>
	</div>
	<div id="login-alert">
		<div class="alert alert-success hidden" role="alert">
			<span class="alert-message"></span>
		</div>
		<div class="alert alert-danger hidden" role="alert">
			<span class="fa fa-exclamation-sign" aria-hidden="true"></span>
			<span class="alert-message"></span>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<button value="S'inscrire" class="btn btn-success btn-lg btn-block login-submit">S'inscrire</button>
			{{ form_rest(form) }}
		</div>
	</div>
</form>

		{#</div>#}
	{#</div>#}
{#</div>#}
