{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Utilisateur - {{ parent() }}
{% endblock %}

{% block body %}

    <!-- Quick Search Section -->
    <section id="user-profile" class="section-pattern top">
        <div class="background"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 heading">
                    <div class="profile-picture img-circle">
                        <img class="img-responsive" src="{{ user.profilePicture.path ? asset(user.profilePicture.path ) : user.avatar ? user.avatar : asset('uploads/demo/profile_picture/user.png') }}"/>
                    </div>
                    <div class="infos">
                        <h2 class="name">{{ user.firstname }}</h2>

                        {% if user.city is defined %}
                        <div class="adress">{{ user.city }}, {{ user.country }}</div>
                        {% endif %}
                        <div class="members">Membres depuis <b>{{ user.dateCreated|date('M Y') }}</b></div>
                        <div class="comment">
                            <a href="">
                                <div class="favorite">
                                    <div class="markaket">
                                        <i class="fa fa-star yellow" aria-hidden="true"></i>
                                        <i class="fa fa-star yellow" aria-hidden="true"></i>
                                        <i class="fa fa-star yellow" aria-hidden="true"></i>
                                        <i class="fa fa-star yellow" aria-hidden="true"></i>
                                        <i class="fa fa-star-o yellow" aria-hidden="true"></i>
                                        (3)
                                    </div>
                                    <div class="comments">

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 contact">
                    <div class="row">
                        <div class="col-md-4 button">
                            <button class="btn become-host">Contacter {{ user.firstname }}</button>
                        </div>
                        <div class="col-md-8 infos">
                            <div>
                                <p>Taux de réponse : <b>100%</b></p>
                                <p>Délai de réponse : <b>Quelques heures</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="classifieds thumbnail">
                        <h3>Annonces</h3>
                        {% for classified in user.classifieds %}
                            {{ include('AppBundle:Classified:thumbnail.html.twig' , {'classified': classified, 'action': ''}) }}
                        {% else %}
                        <p>Pas encore d'annonce</p>
                        {% endfor %}
                    </div>
                    <!-- <div class="comments thumbnail">
                        <h3>Commentaires</h3>
                        <div class="comment">
                            <div class="owner">
                                <a href="/app_dev.php/user/20">
                                    <img src="/web/uploads/demo/profile_picture/profil_2.jpg" class="img-responsive img-circle" alt="">
                                    <h4>Jéremy</h4>
                                </a>
                                <div class="favorite pull-right">
                                    <div class="mark">
                                        <i class="fa fa-star yellow" aria-hidden="true"></i>
                                        <i class="fa fa-star yellow" aria-hidden="true"></i>
                                        <i class="fa fa-star yellow" aria-hidden="true"></i>
                                        <i class="fa fa-star yellow" aria-hidden="true"></i>
                                        <i class="fa fa-star-o yellow" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="message">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                            </div>
                        </div>
                    </div> -->

                </div>
                <div class="col-md-4">
                    <div class="about thumbnail">
                        <h3>A propos</h3>
                        <h5>Bonjour, je m'appelle {{ user.firstname }} !</h5>
                        <div class="member-information">
                            <a href="#">{{ user.city }}, {{ user.country }}</a>
                            <p>Membre depuis le {{ user.dateCreated|date('M Y') }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
