#user-profile {

  .background {
    position: absolute;
    width: 100%;
    background: url(../../img/bg-profile.jpg) 0 20%;
    background-size: cover;
    height: 350px;
  }

  .heading {
    height: 150px;
    margin-top: 50px;

    > div {
      display: inline-block;
      height: 100%;
    }

    a {
      color: #fff;
    }

    .profile-picture {
      position: relative;
      width: 150px;
      overflow: hidden;
      border: 5px solid rgba(255, 255, 255, 0.5);

      > img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    > .infos {

      color: #fff;
      text-align: left;
      vertical-align: top;
      position: relative;
      top: 40%;
      transform: translateY(-50px);
      margin: 0 20px;
    }
  }

  .contact {
    display: block;
    padding: 25px 15px;

    .button .btn {
      width: 100%;
      padding: 10px 15px;
      text-align: center;
      margin: 0;
    }

    .infos {
      > div {
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 5px;

        p {
          display: inline-block;
          margin: 0;
          padding: 10px 15px;
        }
      }
    }
  }

  .thumbnail {
    padding: 15px;

    &.item {
      padding: 0;
    }
  }

  h3 {
    margin: 0 0 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(0, 163, 136);
  }

  .classifieds {

    position: relative;

    .add {
      position: absolute;
      top: 12px;
      right: 15px;
    }

    .item {
      .img {
        height: 200px;
        overflow: hidden;

        img {
          transform: translateY(-10%);
        }
      }
      .owner {
        display: none;
      }
    }
  }
}

.conversation.thumbnail{
  border:none;
}

.container-conversation{

  border: 1px solid $brand-primary;
  margin: 15px;
  padding: 15px;
  // height: 200px;

  .container-message{
    // height: 200px;
    position: relative;

    .date-message{
      // position: absolute;
      // bottom: 30px;
    }
  }

  .container-approbation{
    position: relative;
    // height: 200px;

    .approbation{
      padding-top: 5px;
      // position: absolute;
      // bottom: 30px;
    }
  }
}
