<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin Odop{% endblock %}</title>
    <meta name="description" content="One day One place">
    <meta name="author" content="Odop">

    <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.png') }}"/>

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    {% block stylesheets %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        {#<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />#}
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('admin/css/style.css') }}"/>
    {% endblock %}

    {% block javascripts %}
        {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script rel="javascripts" type="text/javascript" src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
        <script rel="javascripts" type="text/javascript" src="{{ asset('js/bootstrap-datepicker.fr.min.js') }}"></script>
    {% endblock %}

</head>

<body style="background-color: $brand-primary;">

    <div id="wrapper">
        <div class="main">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-offset-4 col-md-4 text-center">
                            <div class="middle-box text-center loginscreen">
                                <div>
                                    <div>
                                        <img src="{{ asset('img/odop-logo-white.png') }}" class="img-responsive" alt="Odop">
                                    </div>
                                    <p>Login in. To see it in action.</p>
                                    {% if error %}
                                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}
                                    <form action="{{ path('admin_login') }}" method="POST" name="login" class="loginAjaxForm form-horizontal">
                                        <div class="form-group">
                                            <label class="sr-only required" for="login_email">Adresse Email*</label>
                                            <div class="col-sm-12">
                                                <input type="text" id="email" name="_email" placeholder="Adresse Email*" required="required" maxlength="255" class="form-control input-lg">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only required" for="login_password">Mot de passe*</label>
                                            <div class="col-sm-12">
                                                <input type="password" id="password" name="_password" placeholder="Mot de passe*" required="required" maxlength="255" class="form-control input-lg">
                                            </div>
                                        </div>
                                        <div class="checkbox">
                                            <label for="remember_me">
                                                <input type="checkbox" name="remember_me" id="remember_me" value="true" class="remember_me">
                                                Se souvenir de moi
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <a href="#">Mot de passe oublié ?</a>
                                            </div>
                                        </div>
                                        <input type="hidden" name="_target_path" value="/admin" />
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input type="submit" value="Connexion" class="btn btn-success btn-lg btn-block">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

</body>
</html>
