
/* 6 - Show Classified
---------------------------------------------------------------------- */

#classified-slider {
	overflow: hidden;
}

#classified-slider>.container-fluid{
	position: relative;
	padding: 0;
}

#classified-slider div.slider{
	position: relative;
	z-index: 100;
	height: 400px;
	overflow: hidden;
}

#classified-slider div.slider img{
	width: 100%;
	transform: translateY(-25%);
}

#classified-slider div.reservation{
	position: absolute;
	top: 0;
	left: 0;
	right: 15px;
	height: 400px;
}

#classified-slider div.reservation>div{
	height: 100%;
	padding: 0;
}

#classified-slider .form-reservation{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 163, 136, 0.8);
	color: #fff;
	z-index: 110;
}

#classified-slider div.reservation .inner-addon i.fa {
	font-size: 25px;
	color: $brand-primary;
}

#classified-slider div.reservation {

		.left-addon input {
			padding-left: 45px;
			height: 45px;
		}
}

#classified-slider div.reservation {
		.price {
			font-size: 30px;
			font-weight: 900;
		}
}

#classified-slider div.reservation input[type=submit] {
	border-radius: 25px;
	font-size: 15px;
	font-weight: 900;
}

#classified-slider div.reservation .price span {
	font-size: 45px;
}

#classified-informations div.informations {
	position: relative;
}

.form-reservation > .sponsor {

	text-align: center;

	p, img {
		display: inline-block;
		vertical-align: bottom;
		margin: 0;
	}

	img {
		width: 25px;
		margin-left: 2px;
		margin-bottom: 2px;
	}

}

#classified-informations div.informations .items{
	padding-left: 235px;

	& >.row {
		padding: 30px 0;
	}
}

#classified-informations #owner {
	position: absolute;
	width: 220px;
	top: 0;
	border: 3px solid $brand-primary;
	border-top: none;
}

#classified-informations #owner .profile-picture {
	width: 150px;
	height: 150px;
	margin: 15px auto;
}
