{% extends "AppBundle:User:profile.html.twig" %}


{% block odop_profile_content %}
    <div class="classifieds thumbnail">
        <h3>Ajouter une annonces</h3>

        {{ include('AppBundle::modules/flashMessage/show.html.twig') }}

        {{ form_start(form, {'action': path(app.request.get('_route'), { 'classified': classified.id }), 'attr': {'id': 'add_classified', 'class': 'form-horizontal dropzone'}}) }}
        {{ form_errors(form) }}

        <div class="form-group">
            <div class="col-md-12">
                <div class="form-group">
                    {{ form_label(form.title, "Titre", {'label_attr': {'class': 'col-md-2 control-label'}}) }}
                    {{ form_errors(form.title) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    {{ form_label(form.street, "Numéro et rue", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {{ form_errors(form.street) }}

                    <div class="col-sm-9">
                        {{ form_widget(form.street, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    {{ form_label(form.city, "Ville", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {{ form_errors(form.city) }}

                    <div class="col-sm-9">
                        {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.region, "Région", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                    {{ form_errors(form.region) }}

                    <div class="col-sm-7">
                        {{ form_widget(form.region, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.country, "Pays", {'label_attr': {'class': 'col-md-2 control-label'}}) }}
                    {{ form_errors(form.country) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.surfaceArea, "Surface (en m²)", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                    {{ form_errors(form.surfaceArea) }}

                    <div class="col-sm-6">
                        {{ form_widget(form.surfaceArea, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.maxParticipant, "Participants", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                    {{ form_errors(form.maxParticipant) }}

                    <div class="col-sm-6">
                        {{ form_widget(form.maxParticipant, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    {{ form_label(form.price, "Prix", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {{ form_errors(form.price) }}

                    <div class="col-sm-3">
                        {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    {{ form_label(form.description, "Description", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {{ form_errors(form.description) }}

                    <div class="col-sm-9">
                        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    {{ form_label(form.categorys, "Catégories", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {{ form_errors(form.categorys) }}

                    <div class="col-sm-9">
                        {{ form_widget(form.categorys, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    {{ form_label(form.equipment, "Equipement", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {{ form_errors(form.equipment) }}

                    <div class="col-sm-9">
                        {{ form_widget(form.equipment, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label control-label">Images</label>
                    <div class="col-sm-12">
                        <div class="dz-upload">
                          <div class="fallback">
                            <input name="file" type="file" multiple />
                          </div>
                          <div class="dz-default dz-message">
                            <span>Drop files here to upload</span>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4">
                        <input type="submit" value="Envoyer" class="btn btn-success btn-sm"/>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}


{% block javascripts %}
   {{ parent() }}

  {% if classified.pictures %}
      <script type="text/javascript">

        $(document).ready(function () {

          {% for picture in classified.pictures %}

              addDropzone('{{ picture.name }}', 0.5, '{{ asset(picture.path) }}', '{{ path('document_delete', { 'document': picture.id }) }}' );

          {% endfor %}

        function addDropzone(filename, size, url, delUrl){

          // Create the mock file:
          let mockFile = {name: filename, size: size, delUrl: delUrl };

          // Call the default addedfile event handler
          myDropzone.emit("addedfile", mockFile);

          // And optionally show the thumbnail of the file:
          myDropzone.emit("thumbnail", mockFile, url);
          // Or if the file on your server is not yet in the right
          // size, you can let Dropzone download and resize it
          // callback and crossOrigin are optional.
          myDropzone.createThumbnailFromUrl(mockFile, url);

          // Make sure that there is no progress bar, etc...
          myDropzone.emit("complete", mockFile);

          // If you use the maxFiles option, make sure you adjust it to the
          // correct amount:
          var existingFileCount = 1; // The number of files already uploaded
          myDropzone.options.maxFiles = myDropzone.options.maxFiles - existingFileCount;
        }

        });

      </script>
  {% endif %}
{% endblock %}
