{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Annonces - {{ parent() }}
{% endblock %}

{% block body %}

    {% block odop_quickSearch %}
        <!-- Quick Search Section -->
        <section id="search-result" class="section-pattern top">
            <div class="container-fluid pattern">
                <div class="row section-result">
                    <div class="col-xs-12 col-md-7">
                        <div class="row list-items">
                            {% for classified in classifieds %}
                                <div class="col-xs-12 col-md-6">
                                    {{ include('AppBundle:Classified:thumbnail.html.twig' , {'classified': classified, 'action': ''}) }}
                                </div>
                            {% else %}
                                <div class="alert alert-warning text-center" role="alert">Aucun résultat</div>
                            {% endfor %}
                        </div>
                        <div class="row knp-pagination">
                          {{ knp_pagination_render(classifieds) }}
                        </div>
                    </div>
                    <div id="search-map" class="col-md-5">
                        <div class="google-map">
                            <!-- <div class="coming-soon"><h2>Coming Soon</h2></div> -->
                            {{ ivory_google_map(map) }}
                            {{ ivory_google_api([map]) }}
                        </div>
                    </div>
                </div><!-- /.container -->
            </div>
        </section>
        <!-- Quick Search  End -->
    {% endblock %}

{% endblock %}
