{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Annonces - {{ parent() }}
{% endblock %}

{% block body %}

    {% block odop_slider %}
        <!-- Quick Search Section -->
        <section id="classified-slider" class="section-pattern top">
            <div class="container-fluid">
                <div class="row slider">
                    <div class="col-md-12">
                        <a href="#" data-toggle="modal" data-target="#carouselModal">
                            <img src="{{ asset(classified.pictures[0].path ) }}" class="img-responsive"
                                 alt="">
                        </a>
                    </div>
                </div>
                <div class="row reservation">
                    <div class="col-md-offset-9 col-md-3">
                        {{ render(controller('AppBundle:Reservation:show', {'classified': classified} )) }}
                    </div>
                </div>
            </div>
        </section>
        <!-- Quick Search  End -->
    {% endblock %}

    {% block odop_informations %}
        <!-- Quick Search Section -->
        <section id="classified-informations" class="section-pattern">
            <div class="container-fluid border-bottom">
                <div class="row">
                    <div class="col-md-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9">
                                    <h3 data-toggle="modal" data-target="#carouselModal">{{ classified.title }}</h3>
                                    <h4><a href="#">{{ classified.city }}</a>, <a href="#">{{ classified.region }}</a>,
                                        <a href="#">{{ classified.country }}</a></h4>
                                </div>
                                <div class="col-md-3">
                                    <div class="categorys">
                                        {% for category in classified.categorys %}
                                            <button class="btn btn-xs btn-default">{{ category.name }}</button>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid informations border-bottom">
                <div class="row">
                    <div class="col-md-12">
                        <div class="container-fluid items">
                            <div class="row border-bottom">
                                <div class="col-md-12">
                                    <h4>Description</h4>
                                    <p>{{ classified.description }}</p>
                                </div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-md-4">
                                    <h4>Propriété</h4>
                                </div>
                                <div class="col-md-4">
                                    <p>Type de propriété : </p>
                                    <p>Type d'espace : </p>
                                </div>
                                <div class="col-md-4">
                                    <p>Superficie : {{ classified.surfaceArea }} m<sup>2</sup></p>
                                    <p>Capacité : {{ classified.maxParticipant }} personnes</p>
                                </div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-md-4">
                                    <h4>Equipements</h4>
                                </div>
                                <div class="col-md-4">
                                    {% for equipment in classified.equipments %}
                                        <p><span class="{{ equipment.pictoUrl }} ico"
                                                 aria-hidden="true"></span> {{ equipment.name }}</p>
                                    {% endfor %}
                                </div>
                                <div class="col-md-4">
                                    {% for equipment in classified.equipments %}
                                        <p><span class="{{ equipment.pictoUrl }} ico"
                                                 aria-hidden="true"></span> {{ equipment.name }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-md-4">
                                    <h4>Prix</h4>
                                </div>
                                <div class="col-md-4">
                                    <p>Tarif : {{ classified.price }} €/heures</p>
                                    <p>Conditions d'annulations : Flexible</p>
                                </div>
                                <div class="col-md-4">
                                    <p>Réduction : -12%</p>
                                </div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-md-4">
                                    <h4>Règlement</h4>
                                </div>
                                <div class="col-md-4">
                                    <p></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>Disponibilité</h4>
                                </div>
                                <div class="col-md-4">
                                    <p>Location minimum : 3 heures</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="owner" class="row">
                    <div class="col-sm-12">
                        <a href="{{ path('user_show', { 'id': classified.owner }) }}">
                          <div class="profile-picture img-circle">
                            <img src="{{ classified.owner.profilePicture ? asset(classified.owner.profilePicture.path ) : classified.owner.avatar ? classified.owner.avatar : asset('uploads/demo/profile_picture/user.png') }}"
                            class="img-responsive" alt="">
                          </div>
                        </a>
                        <h3 class="text-center green">{{ classified.owner.firstname }}</h3>
                        <p class="text-center">{{ classified.owner.city }}, {{ classified.owner.country }}</p>
                        <div class="note">
                            <p class="text-center">*****</p>
                            <p class="text-center">6 commentaires</p>
                        </div>
                        <p class="text-center">Membres depuis <b>{{ classified.owner.dateCreated|date('M Y') }}</b></p>
                        <p class="text-center">Taux de réponse : 100%</p>
                        <p class="text-center">Délai de réponse : <br>Quelques heures</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="" class="section-pattern top">
            <div class="container">
                {{ render(controller('AppBundle:Comment:show', {'comments': classified.comments, 'classified': classified}))}}
            </div>
        </section>
        <!-- Quick Search  End -->
    {% endblock %}

{% endblock %}



{% block odop_modal %}
    {{ parent() }}
    {{ include('AppBundle::modules/carousel/carousel.html.twig',  { 'pictures': classified.pictures }) }}
    {{ render(controller('AppBundle:Reservation:new', {'classified': classified}))}}
{% endblock %}
