<div class="item thumbnail">
    <div class="img">
        <a href="{{ path('app_classified_show', { 'id': classified.id }) }}">
            <img src="{{ classified.pictures.first ? asset(classified.pictures.first.path ) : asset('img/bg.png') }}" class="img-responsive" alt="...">
        </a>
    </div>
    <div class="price">{{ classified.price }} €/h</div>
    {% if action == 'edit' %}
    <a href="{{ path('account_classified_edit', { 'classified': classified.id }) }}" class="btn btn-warning edit"name="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
    {% endif %}
    <div class="owner">
        <a href="{{ path('user_show', { 'id': classified.owner }) }}">
          <div class="profile-picture img-circle">
            <img class="img-responsive" src="{{ classified.owner.profilePicture ? asset(classified.owner.profilePicture.path ) : asset('uploads/demo/profile_picture/user.png') }}" alt="">
          </div>
        </a>
    </div>
    <div class="caption">
        <a href="{{ path('app_classified_show', { 'id': classified.id }) }}">{{ classified.title }}</a>
        <div class="favorite">
            <div class="mark">
                <i class="fa fa-star yellow" aria-hidden="true"></i>
                <i class="fa fa-star yellow" aria-hidden="true"></i>
                <i class="fa fa-star yellow" aria-hidden="true"></i>
                <i class="fa fa-star yellow" aria-hidden="true"></i>
                <i class="fa fa-star-o yellow" aria-hidden="true"></i>
            </div>
            <div class="comments pull-right">
                {{ classified.comments | length }} <i class="fa fa-comment" aria-hidden="true"></i>
            </div>
        </div>
        {#<div class="categorys">#}
            {#{% for category in classified.categorys %}#}
                {#<button class="btn btn-xs btn-default">{{ category.name }}</button>#}
            {#{% endfor %}#}
        {#</div>#}
    </div>
</div>
