<!-- Login modal -->
<div id="loginModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="loginModal">
     <div class="modal-dialog modal-sm" role="document" style="width:400px;">
         <div class="modal-content">
             <div class="modal-body">
                 {% for owner in hwi_oauth_resource_owners() %}
                     {% if owner != 'facebook' %}
                     <a class="link-hwi" href="{{ hwi_oauth_login_url(owner) }}">
                         <button type="button" data-id="{{ owner }}" class="login-social btn btn-{{ owner }} btn-lg btn-block"><i class="fa fa-{{ owner }}" aria-hidden="true"></i> Connexion avec {{ owner }}</button>
                     </a>
                    {% endif %}
                 {% endfor %}
                 <hr>
                 {{ render(controller("FOSUserBundle:Security:login")) }}
                 <hr>
                 <div class="not-signin">Vous n'êtes pas encore inscrits ? <button type="button" id="signin-trigger" class="btn btn-default btn-md pull-right">Inscription</button></div>
             </div>
         </div>
     </div>
</div>
