<div id="recapModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="recapModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="recap-modal">Récapitulatif de votre réservation</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="inner-addon left-addon">
                            <p>Date de début : <span id="dateStart"></span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="inner-addon left-addon">
                            <p>Date de fin : <span id="dateEnd"></span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="inner-addon left-addon">
                            <p> Nombre de participants : <span id="participant"></span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="inner-addon left-addon">
                            <p>Prix de la réservation: <span id="price"></span></p>
                        </div>
                    </div>
                    <div class="container-button-paypal">
                    </div>
                    <div id="reservation-alert" class="hidden text-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>

