<div id="reservationModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="reservationModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="recap-modal">Votre réservation</h4>
            </div>
            <div class="modal-body">

                {{ form_start(form, {'action': path('app_reservation_new'), 'method': 'POST', 'attr': {'id': 'add_reservation', 'class': 'text-center form-horizontal'}}) }}
                {{ form_errors(form) }}
                <div class="form-group">
                    {{ form_label(form.dateStart, "La date ?", {'label_attr': {'class': 'sr-only'}}) }}
                    <div class="col-sm-offset-1 col-sm-5">
                        <div class="inner-addon left-addon">
                            <i class="fa fa-calendar"></i>
                            {{ form_widget(form.dateStart, {'attr': {'placeholder': 'Date et heure de début', 'class': 'dateStart'}}) }}
                        </div>
                  </div>
                    {{ form_label(form.dateEnd, "La durée ?", {'label_attr': {'class': 'sr-only'}}) }}
                    <div class="col-sm-5">
                        <div class="inner-addon left-addon">
                            <i class="fa fa-calendar"></i>
                            {{ form_widget(form.dateEnd, {'attr': {'placeholder': 'Date et heure de fin', 'class': 'dateEnd'}}) }}
                        </div>
                  </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.participant, "Les participants ?", {'label_attr': {'class': 'sr-only'}}) }}
                    <div class="col-sm-offset-1 col-sm-10">
                        <div class="inner-addon left-addon">
                          <i class="fa fa-user"></i>
                          {{ form_widget(form.participant, {'attr': {'placeholder': 'Nombre de participant', 'class': 'participant'}}) }}
                      </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8 recap-reservation text-center">
                        <p class="hours">Nombre d'heure : <span>-</span></p>
                        <p class="price">Prix de l'heure : <span>{{ classified.price }}€/h</span></p>
                        <p class="total">Total : <span>-</span>€</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="sr-only control-label required" for="message_content">Message</label>
                    <div class="col-sm-offset-1 col-sm-10">
                        <div class="inner-addon">
                          <textarea id="message_content" rows="5" name="message[content]" required="required" placeholder="Message au propriétaire" class="form-control"></textarea>
                      </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <button type="submit" class="btn btn-default btn-lg btn-block">Réserver</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <div id="paypal-button"></div>
                    </div>
                </div>
                {{ form_end(form) }}
                <div id="reservation-alert" class="hidden text-center">
                </div>
                <div class="message-success hidden">
                    <h4 class="modal-title text-center" id="exampleModalLabel">Message bien envoyé</h4>
                    <img src="{{ asset('img/checked.png') }}" class="img-responsive center-block">
                </div>

                <div class="message-error hidden">
                    <h4 class="modal-title text-center"></h4>
                    <!-- <img src="{{ asset('img/checked.png') }}" class="img-responsive center-block"> -->
                </div>
        </div>
    </div>
</div>

