<div id="reservation" class="form-reservation">
    <h3 class="text-center">Réserver maintenant!</h3>

    {{ form_start(form, {'attr': {'class': 'text-center form-horizontal'}}) }}
    {{ form_errors(form) }}
    <div class="form-group">
        {{ form_label(form.dateStart, "La date ?", {'label_attr': {'class': 'sr-only'}}) }}
        <div class="col-sm-offset-1 col-sm-10">
            <div class="inner-addon left-addon">
                <i class="fa fa-calendar"></i>
                {{ form_widget(form.dateStart, {'attr': {'placeholder': 'Date et heure de début', 'class': 'dateStart'}}) }}
            </div>
      </div>
    </div>
    <div class="form-group">
        {{ form_label(form.dateEnd, "La durée ?", {'label_attr': {'class': 'sr-only'}}) }}
        <div class="col-sm-offset-1 col-sm-10">
            <div class="inner-addon left-addon">
                <i class="fa fa-calendar"></i>
                {{ form_widget(form.dateEnd, {'attr': {'placeholder': 'Date et heure de fin', 'class': 'dateEnd'}}) }}
            </div>
      </div>
    </div>
    <div class="form-group">
        {{ form_label(form.participant, "Les participants ?", {'label_attr': {'class': 'sr-only'}}) }}
        <div class="col-sm-offset-1 col-sm-10">
            <div class="inner-addon left-addon">
              <i class="fa fa-user"></i>
              {{ form_widget(form.participant, {'attr': {'id': 'participant', 'placeholder': 'Nombre de participant', 'class': 'participant'}}) }}
          </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
            <button type="button" data-target="#reservationModal" data-toggle="modal" data-price="{{ classified.price }}" class="btn btn-default btn-lg btn-block">Réserver</button>
        </div>
    </div>
    {{ form_end(form) }}

    <div class="price text-center">
        <span>{{ classified.price }}</span>€/h
    </div>
    <div class="sponsor">
      <p class="text-center">Assurée par</p>
      <img src="{{ asset('img/logo_axa.png' ) }}" class="img-responsive" alt="">
    </div>
</div>
