/* Table of contents
---------------------------------------------------------------------- /
*
*  1 - Import Google Font
*  2 - Global Style
*    2.1 - Colors
*    2.2 - Social Button
*    2.3 - Placeholder color
*    2.4 - Height Resize
*  3 - Main Menu
*  4 - Homepage
*    4.1 - Quick Search Section
*    4.2 - Hightlight Section
*    4.3 - Become Host Section
*    4.4 - Category Section
*  5 - Search Result
*  6 - Subscribe Section
*  7 - Contact Section
*  8 - Footer Section
*  9 - Media Query
*    9.1 - media screen and (max-width: 992px)
*    9.2 - media screen and (max-width: 768px)
*    9.3 - media screen and (max-width: 1170px)
*  10 - Preloader
*
---------------------------------------------------------------------- */


/* 2 - Global Style
---------------------------------------------------------------------- */
html{
    height: 100%;
}

body{
	font-family: 'Open Sans', sans-serif;
    font-size: 16px;
	color:#5e5e5e;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	margin: 0;
	display:flex;
	flex-direction: column;
	min-height: 100vh;
}

.site-content{
	flex:1;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4{
	font-family: 'Open Sans', sans-serif;
}

a{
	font-family: 'Open Sans', sans-serif;
	color: $brand-primary;
}
a:focus{
	outline:none;
	outline-offset:inherit;
}

section.top {
	margin-top: 80px;
}

.border-bottom {
	border-bottom: 2px solid $brand-primary;
}

.message-error {
  padding-left: 15px;
  padding-right: 15px;
}

/* 2.1 - Colors
---------------------------------------------------------------------- */

.green {
	color: $brand-primary!important;
}

.yellow {
	color: #F5B027!important;
}

/* 2.2 - Button Style
---------------------------------------------------------------------- */

.btn-lg, .input-lg {
	font-size: 14px;
	line-height: 23px;
}

.btn-default {
	color: $brand-primary;
	background-color: #fff;
	border-color: $brand-primary;
}

.btn-default:hover, .btn-default:focus {
	color: #fff;
	background-color: $brand-primary;
	border-color: $brand-primary;
}

.btn-success {
	color: #fff;
	background-color: $brand-primary;
	border-color: $brand-primary;
}

.btn-disabled, .btn-disabled:hover {
  // background-color: linear-gradient(top, #ffffff, #cccccc);
  background-color: #ffffff!important;
  background-image: linear-gradient(to top, #ffffff, #cccccc)!important;
}

.btn-success:hover, .btn-success:focus {
	color: #fff;
	background-color: #00b79c;
	border-color: #00B79C;
}

.btn-facebook {
	color: #fff;
	background-color: #3B5998;
	border-color: #3B5998;
}

.btn-facebook:hover, .btn-facebook:focus {
	color: #fff;
	background-color: #4568b2;
	border-color: #4568b2;
}

.btn-facebook i {
	float: left;
	font-size: 15px;
	margin-top: 5px;
}

.btn-google {
	color: rgba(55,55,55,0.8);
	background-color: #fff;
	border-color: rgba(55,55,55,0.5);
}

.btn-google:hover, .btn-google:focus {
	color: rgba(55,55,55,1);
	border-color: rgba(55,55,55,1);
}

.btn-google i {
	float: left;
	font-size: 15px;
	margin-top: 5px;
}

/* 2.3 - Input Style
---------------------------------------------------------------------- */
.inner-addon {
	position: relative;
}

/* style icon */
.inner-addon i.fa {
	position: absolute;
	padding: 12px;
	pointer-events: none;
	color: #5e5e5e;
}

/* align icon */
.left-addon i.fa  { left:  0px;}
.right-addon i.fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.datepicker-dropdown.dropdown-menu {
	padding: 5px;
	text-align: center;
}

.datepicker-dropdown.dropdown-menu th {
	text-align: center;
}

.datepicker-dropdown.dropdown-menu thead tr:nth-child(2) {
	color: $brand-primary;
}

.datepicker-dropdown.dropdown-menu thead tr:nth-child(3) {
	border-bottom: 3px solid $brand-primary;
	/*color: #fff;*/
}

.datepicker-dropdown td.day, .datepicker-dropdown th.prev, .datepicker-dropdown th.next {
	cursor: pointer;
}

.datepicker-dropdown td.day:hover, .datepicker-dropdown th.prev:hover, .datepicker-dropdown th.next:hover {
	background-color: $brand-primary;
	color: #000000;
}

.bootstrap-datetimepicker-widget .datepicker {
  color:#000000!important;
}

.bootstrap-datetimepicker-widget .timepicker {
  color:#000000!important;
}

.bootstrap-datetimepicker-widget{
  position:absolute;
  z-index: 120;
  overflow: visible;
}

.input-group-addon i.fa{
  color: $brand-primary;
  text-align:left;
}



/* 2.4 - Alert Style
---------------------------------------------------------------------- */




#email_signin {
	font-size: 14px;
	margin-top: 15px;
}

.not-signin {
	line-height: 34px;
}

.modal {
	text-align: center;
	padding: 0!important;
}

.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.panel {
	box-shadow: none;
}

.panel-default {
	border-color: transparent;
}

.panel-group {
	margin-bottom: 0;
}


/* 2.2 - Social Button
------------------------------------------ */

.bg-green-light{
	background-color: $brand-primary;
}

/* 2.2 - Social Button
------------------------------------------ */



.section-pattern{
	background-color: #fff;
	background-attachment:inherit;
	background-position:50% 0;
	background-repeat:no-repeat;
	margin:0 auto;
	width:100%;
	background-size:cover;
}
.pattern{
    position: relative;
	/*background:rgba(0,0,0,.4) url(../images/pattern.png);*/
}
.container{
	overflow:hidden;
}

.section-name{
    font-family: 'Open Sans', Sans-serif;
	font-weight:700;
	text-align:center;
	text-transform:uppercase;
	margin: 10px 0;
}
.section-name span{
	display:inline-block;
	position:relative;
	padding-bottom:15px;
}
.section-name span:before,
.section-name span:after{
	content:"";
	width:100%;
	height:10px;
	border-bottom:1px double #fff;
	position:absolute;
	left:0;
}
.section-name span:before{
	bottom:0;
}
.section-name span:after{
	bottom:2px;
}
.section-title{
	text-align:center;
	text-transform:uppercase;
	font-size:300%;
    margin: 30px 0 0 0;
}
.section-description{
	font-weight:300;
	text-align:center;
	line-height:30px;
}
.form-control,
.btn{
	-webkit-border-radius:0;
	   -moz-border-radius:0;
	    -ms-border-radius:0;
	     -o-border-radius:0;
	        border-radius:0;

	-webkit-transition:all .25s;
	   -moz-transition:all .25s;
	    -ms-transition:all .25s;
	     -o-transition:all .25s;
	        transition:all .25s;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
 	outline: none;
 	color: #ffffff;
}


.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
    margin: 0;
}

.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    padding-right: 10px;
}

.form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
    padding-bottom: 7px;
}

.dropzone {
  border: none;
  padding: 0;
}

.dropzone .dz-preview:hover {
    z-index: 990;
}

.dz-upload {
    position: relative;
    min-height: 175px;
    border: 2px dashed $brand-primary;
    border-radius: 5px;
    background: white;
    text-align: center;
    cursor: pointer;

    .dz-message {
      // padding: 70px 54px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
    }

    .dz-progress {
      display: none;
    }
}

/*.form-control,*/
/*.form-control:focus{*/
	/*border-color:#fff;*/
	/*color:#fff;*/

	/*-webkit-box-shadow:none;*/
	   /*-moz-box-shadow:none;*/
	    /*-ms-box-shadow:none;*/
	     /*-o-box-shadow:none;*/
	        /*box-shadow:none;*/
/*}*/

#not-found {
    background: url(http://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2016/02/09/103373712-GettyImages-sb10063872c-001r.1910x1000.jpg);
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;

    .errorBlock {
      background-color: rgba(0, 0, 0, 0.5);
    }
}









/* 2.2 - Social Button
------------------------------------------ */
.social-btn-container{
	text-align:center;
    margin-top: 2%;
}
.social-btn-container .social-btn-box{
	display:inline-block;
	width:60px;
	height:60px;

	border:1px solid #fff;

	-webkit-border-radius:5px;
	   -moz-border-radius:5px;
	    -ms-border-radius:5px;
	     -o-border-radius:5px;
	        border-radius:5px;

	margin:15px;
	position:relative;
	overflow:hidden;
}
.social-btn-container .social-btn-box a{
	color:#fff;
	font-size:26px;
	line-height:80px;
	display:inline-block;
	width:80px;
	height:80px;
	position:absolute;
	top:-10px;
	left:-10px;
}
.social-btn-box,
.social-btn-box a{

	-webkit-transition:all .25s;
	   -moz-transition:all .25s;
	    -ms-transition:all .25s;
	     -o-transition:all .25s;
	        transition:all .25s;
}
.social-btn-box:hover{
	border-color:transparent;
}
.social-btn-box .facebook-btn:hover{
	background:#3B5998;
	color: #fff;
}
.social-btn-box .twitter-btn:hover{
	background:#55ACEE;
	color: #fff;
}
.social-btn-box .linkedin-btn:hover{
	background:#0077b5;
	color: #fff;
}
.social-btn-box .google-plus-btn:hover{
	background:#db514f;
	color: #fff;
}
.social-btn-box .youtube-btn:hover{
	background:#cc181e;
	color: #fff;
}
.social-btn-box .github-btn:hover{
	background:#2b2e30;
	color: #fff;
}
.social-btn-box .a:hover{
	background:$brand-primary;
	color: #fff;
}
/* 2.2 - Social Button
------------------------------------------ */


/* 2.3 - Placeholder color
------------------------------------------ */
.form-control::-webkit-input-placeholder {
   color: #000;
}

.form-control:-moz-placeholder {
   color: #000;
}

.form-control::-moz-placeholder {
   color: #000;
}

.form-control:-ms-input-placeholder{
	color:#000;
}

/* 2.3 - Placeholder color End
------------------------------------------ */


/* 2.4 - Height Resize
------------------------------------------ */

.full-height, .full-height >div, .full-height .row, .full-height .row>div{
    height: 100%;
}

.pattern.height-resize{
	padding-top: 40px;
}
.height-resize .time-count-container{
	margin-top: 20px !important;
}
.height-resize .team-container .col-sm-4{
	padding-top:20px !important;
}
/* 2.4 - Height Resize End
------------------------------------------ */


/* 2 - Global Style End
---------------------------------------------------------------------- */

/* 3 - Main Menu
---------------------------------------------------------------------- */

a.become-host, button.become-host {
	background-color: #fff;
	border-radius: 5px;
	border: 2px solid $brand-primary;
	color: $brand-primary;
	font-weight: bolder;
	// padding: 5px 15px;
}

a.become-host:hover, a.become-host:focus, button.become-host:hover, button.become-host:focus {
	background-color: $brand-primary!important;
	border-color: #fff;
	color: #fff!important;
}

a.become-host i, button.become-host i {
	margin-right: 10px;
}

.thumbnail {
  padding: 15px;
}

/* 4 - Homepage
---------------------------------------------------------------------- */

/* 4.1 - Quick Search Section
---------------------------------------------------------------------- */




/* 4.2 - Hightlight Section
---------------------------------------------------------------------- */



/* 4.2 - Become Host Section
---------------------------------------------------------------------- */

#become-host {
	background-color: #00604f;
	color: #fff;
}

// #become-host .section-body {
// 	padding-bottom: 5%;
// }

#become-host .thumbnail {
}

/* 5 - Search Result
---------------------------------------------------------------------- */

/* 6 - Classified Page
---------------------------------------------------------------------- */



/* 5.1 - Item thumbnail
---------------------------------------------------------------------- */

#search-result .list-items {
	margin: 20px 0;
}

.item {
	padding: 0;
	position: relative;
}

.item.thumbnail {
	border: none;

  .profile-picture {
    width: 60px;
    height: 60px;
    vertical-align: bottom;
  }

	&:hover {
		-webkit-box-shadow: 3px 3px 11px 1px #777;
		-moz-box-shadow: 3px 3px 11px 1px #777;
		box-shadow: 3px 3px 11px 1px #777;
		//border: 3px solid $brand-primary;
	}
}

.item.thumbnail .img {
	height: 200px;
	width: auto;
	overflow: hidden;
}

.item.thumbnail .caption {
	overflow: hidden;
}

.item.thumbnail .caption a {
	width: 100%;
	clear: both;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-decoration: none;
}

.item .img>img {
	transform: translateY(-50%);
	top: 50%;
	position: relative;
}

.item .price {
	position: absolute;
	background-color: $brand-primary;
	color: #fff;
	top: 20px;
	left: 10px;
	padding: 5px 15px;
}

.item .owner {
	position: absolute;
	bottom: 80px;
	right: 0px;
	width: 60px;
	height: 60px;
}



.item .edit {
  position: absolute;
  color: #fff;
  top: 20px;
  right: 10px;
  padding: 5px 15px;
}

.item.thumbnail .owner img.img-circle {
	border: 3px solid $brand-primary;
}

#search-result .google-map {
	position: fixed!important;
	padding: 0;
	width: inherit;
	height: 100%;
}

#search-result .google-map #map {
	height: 100%!important;
	width: 100%!important;
	z-index: 10;
}



/* 7 - Show User
---------------------------------------------------------------------- */
.page-profil{
	margin-top: 20px;
}

.profil-top{
	margin-top: 20px;
}

.odop-panel .panel-heading{
	background-color: $brand-primary;
	color: #fff;
}

.odop-panel .panel-content{
	padding: 20px;
}

label {
	font-size: 14px;
	font-weight: 400;
	color: #9A9A9A;
	margin-bottom: 0px;
}

.sidebar-menu{
	// margin-top: 50px;
}

.container-button-profile{
	margin-top: 25px;
}

.profile-picture {
  position: relative;
  width: 60px;
  overflow: hidden;
  border: 5px solid rgba(255, 255, 255, 0.5);
  height: 60px;
  margin: auto;

  > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

// .caption img {
// 	width: 50%;
// 	height: auto;
// }

#page-top .section-title{
	text-align:center;
	text-transform:uppercase;
	font-size:300%;
    margin: 0;
}

.site-logo{
	text-align:center;
	font-size:66px;
	font-family:'Open Sans';
	position:relative;
    height: 50%;
}

.row.site-social{
    height: 30%;
}

#page-top .section-name span:before,
#page-top .section-name span:after{
	content:none;
}

/* 4 - Conversations
---------------------------------------------------------------------- */


/* 6 - Subscribe Section End
---------------------------------------------------------------------- */

/* 6 - Rate
---------------------------------------------------------------------- */

.rating div.fa-3x {
    font-size: 1.5em;
}

/* 6 - Pagination
---------------------------------------------------------------------- */

.knp-pagination {
  text-align: center;
}

/* 7 - Classified
---------------------------------------------------------------------- */

.reservation-price{
	margin-bottom: 40px;
}


div.coming-soon {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(128, 128, 128, 0.4);
  z-index: 20;
  text-align: center;

  h2 {
    position: relative;
    top: 40%;
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
  }
}

.coming-soon {
  cursor: not-allowed;
}

.link-hwi {
	text-decoration: none;
}
.link-hwi:hover {
	text-decoration: none;
}

/* 9 - Reset paswword
---------------------------------------------------------------------- */
.password-content {
	margin-top: 150px;
}


/* 9 - Media Query
---------------------------------------------------------------------- */


/* 9.1 - media screen and (max-width: 992px)
------------------------------------------------ */
@media screen and (max-width: 992px){
	// .container{
		// width:100%;
		// max-width:830px;
	// }
}
// @media (min-width: 992px){
// 	.container{
// 		width:100%;
// 		max-width:830px;
// 	}
// }


/* 9.1 - media screen and (max-width: 992px)  End
------------------------------------------------ */


/* 9.2 - media screen and (max-width: 768px)
------------------------------------------------ */
@media (min-width: 768px) {
}

/* 9.2 - media screen and (max-width: 768px) End
------------------------------------------------ */


/* 9.3 - media screen and (max-width: 1170px)
------------------------------------------------ */
/* 9.3 - media screen and (max-width: 1170px) End
------------------------------------------------ */
