 <!-- Small modal -->
<div id="deleteModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">Confirmer la suppression</h4></div>
            <div class="modal-body">
                <p>Etes-vous sur de vouloir supprimer cet élément ?</p>
            </div>
            <div class="modal-footer">
                {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger btn-sm"/>
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
</div>