<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Odop{% endblock %}</title>
    <meta name="description" content="One day One place" >
    <meta name="author" content="Odop">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.png') }}" />

    {% block stylesheets %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        {#<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />#}
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    {% endblock %}

</head>

<body>
<header class="main-header">
    <nav class="navbar navbar-transparent">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="{{ asset('img/logo-header.png') }}" class="img-responsive" alt="One day One place"></a>

            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-main navbar-right">
                    <li><a href="./" class="become-host"><i class="fa fa-home" aria-hidden="true"></i>Devenir hôte</a></li>
                    <li><a href="{{ path('odop_signin') }}">Inscription</a></li>
                    <li><a href="{{ path('odop_login') }}">Connexion</a></li>
                    <li><a href="{{ path('odop_help') }}">Aide</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
</header>

{% block body %}
    {% block fos_user_content %}
    {% endblock fos_user_content %}
{% endblock %}

<footer class="footer bg-green-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <li><a href="">Devenir hôte</a></li>
                    <li><a href="">L'équipe</a></li>
                    <li><a href="">Nous contacter</a></li>
                    <li><a href="">CGU</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <img src="{{ asset('img/odop-logo-baseline.png') }}" class="img-responsive" alt="One day One place">
            </div>
            <div class="col-md-4">
                <h4>Rejoignez-nous</h4>
                <ul class="nav navbar-nav navbar-social">
                    <li><a href=""><img src="{{ asset('img/facebook.png') }}" class="img-responsive" alt="Facebook"></a></li>
                    <li><a href=""><img src="{{ asset('img/twitter.png') }}" class="img-responsive" alt="Twitter"></a></li>
                    <li><a href=""><img src="{{ asset('img/instagram.png') }}" class="img-responsive" alt="Instagram"></a></li>
                    <li><a href=""><img src="{{ asset('img/google-plus.png') }}" class="img-responsive" alt="Google plus"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}

</body>
</html>