
<footer id="footer" class="footer bg-green-light">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="links">
                  <ul class="">
                      <li><a href="#">Devenir hôte</a></li>
                      <li><a href="#">L'équipe</a></li>
                      <li><a href="#">Nous contacter</a></li>
                      <li><a href="#">CGU</a></li>
                  </ul>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 logo">
              <div class="logo">
                  <img src="{{ asset('img/odop-logo-baseline.png') }}" class="img-responsive" alt="One day One place">
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="social text-center">
                    <h4>Rejoignez-nous</h4>
                    <ul class="nav">
                      <li><a href=""><img src="{{ asset('img/facebook.png') }}" class="img-responsive" alt="Facebook"></a></li>
                      <li><a href=""><img src="{{ asset('img/twitter.png') }}" class="img-responsive" alt="Twitter"></a></li>
                      <li><a href=""><img src="{{ asset('img/instagram.png') }}" class="img-responsive" alt="Instagram"></a></li>
                      <li><a href=""><img src="{{ asset('img/google-plus.png') }}" class="img-responsive" alt="Google plus"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
