
#footer {

  z-index: 20;

  .container {
    color: #fff;
    padding: 20px 0;

    a {
      color: #fff;
    }

    ul li {
    	list-style: none;
    }

    .links {
      margin-top: 10px;
    }

    .logo img {
      width: 50%;
      margin: 10px auto;

      @media (min-width: $screen-sm-min) {
        width: 70%;
      }
      @media (min-width: $screen-md-min) {
        width: 65%;
        margin: auto;
      }
    }

    .social {

      ul li {
        display: inline-block;

        a {
          padding: 5px;

         img {
          max-width: 40px;
        }

          &:hover {
            margin-top: 1px;
          }
        }
      }

    }


  }



}

// footer {
//     position: fixed;
//     right: 0;
//     left: 0;
//     bottom: 0;
//     z-index: 1030;
//     height: 60px;
// }
//
// .footer_border_top {
//     padding: 10px;
//     margin: 0;
//     background-color: #fff;
//     border-top: 1px solid gray;
// }
//
// footer .col-md-2 img {
//     margin-top: -35px;
//     background-color: #fff;
//     border-top: 1px solid gray;
// }



// footer.footer {
// 	/*border-top: 6px solid #fff;*/
// 	z-index: 20;
// 	position: relative;
// }
//
// footer.footer .container {
// 	padding: 40px 0;
// }
//
// footer .logo img {
//   width: 50%;
//   margin: auto;
// }
//
// footer ul a {
// 	color: #fff;
// }
//
// footer h4 {
// 	color: #fff;
// }
